<div class="content-lg container">
		<div class="showcase-title margin-b-80">
				<h1 class="margin-b-10">Explore</h1>
				<p class="text-uppercase">Information and resources to learn about nonvolatile processor</p>
		</div>

		<div class="row">
				<div class="explore-item col-sm-6 col-md-4 md-margin-b-50 text-center">
						<div class="margin-b-20">
								<img class="img-responsive" src="assets/explore/blackboard.png" alt="NVP Fundamentals">
						</div>
						<h3><a routerLink="/explore/nvp-fundamentals">NVP Fundamentals </a></h3>
						<p>What is a nonvolatile processor? Why is it a better choice than a volatile one? How will it change the future of computing? Take a quick glance at "NVP fundamentals" we prepared for you!</p>
						<a routerLink="/explore/nvp-fundamentals" class="btn-theme btn-theme-xs btn-white-bg text-uppercase">Explore</a>
				</div>

				<div class="explore-item col-sm-6 col-md-4 md-margin-b-50 text-center">
						<div class="margin-b-20">
								<img class="img-responsive" src="assets/explore/rocket.png" alt="Getting Started">
						</div>
						<h3><a routerLink="/platform/getting-started">Getting Started </a></h3>
						<p>Our NVPEval platform helps you quickly and easily prototype an IoT system taking full advantage of novolatile processor. Start now to transform your brilliant creative idea into reality!</p> 
						<a routerLink="/platform/getting-started" class="btn-theme btn-theme-xs btn-white-bg text-uppercase">Explore</a>
				</div>

				<div class="explore-item col-sm-6 col-md-4 md-margin-b-50 text-center">
						<div class="margin-b-20">
								<img class="img-responsive" src="assets/explore/bookshelf.png" alt="Recommended Reading">
						</div>
						<h3><a routerLink="/explore/recommended-reading">Recommended Reading</a></h3>
						<p>Want to learn more? Here is a list of topics we recommend you to follow, including device, circuit, architecture, system integration, software support and application related to nonvolatile processors </p>
						<a routerLink="/explore/recommended-reading" class="btn-theme btn-theme-xs btn-white-bg text-uppercase">Explore</a>
				</div>

		</div>
</div>
