<div class="bg-color-sky-light">
<div class="content-lg container">
	<div class="showcase-title margin-b-60">
		<h1 class="margin-b-5">加入我们</h1>
		<p class="text-uppercase">如果这里有你喜欢并擅长的工作，那就来吧</p>
	</div>

	<div class="row">
		<div class="col-lg-8 col-lg-push-2 col-md-12">
			<div class="accordion">
				<div class="panel-group" id="accordion" aria-multiselectable="false">

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title"  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								嵌入式系统工程师
								<span class="glyphicon glyphicon-chevron-down"></span>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<h5>岗位职责</h5>
								<ol>
									<li>负责公司嵌入式系统的策划、定义、设计、软件开发、调试、文档撰写和交付工作；</li>
									<li>完成工装设计、生产工艺编制，并提供生产支持、良率分析等。</li>
								</ol>
								<h5>任职要求</h5>
								<ol>
									<li>精通嵌入式软硬件开发，熟练使用Altium Designer等硬件设计软件和KEIL/IAR/CCS等软件设计平台；</li>
									<li>熟悉Cortex-M、Cortex-A系列嵌入式处理器，熟悉USB/SPI/I2C/PCIe接口，熟悉蓝牙BLE、ZIGBEE等通信协议；</li>
									<li>有两年以上硬件产品研发经验，有量产经验；</li>
									<li>具有较强的动手能力，能够独立完成嵌入式系统策划、定义、设计、开发（原理图、PCB设计、软硬件调试），有一定的焊接技术基础；</li>
									<li>有汽车电子开发、工业控制、射频电路设计和EMC经验者优先；</li>
									<li>有良好的学习能力，能够熟练阅读英文技术文档。</li>
								</ol>
								<p class="text-center">简历请投递至 <a href="mailto:joinus@pi2star.com" target="_top">joinus@pi2star.com</a></p>
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								结构工程师
								<span class="glyphicon glyphicon-chevron-down"></span>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<h5>岗位职责</h5>
								<ol>
									<li>负责产品结构的方案设计、详细设计、样品制作、设计优化、装配工艺；</li>
									<li>负责样品制作、模具跟踪及优化；</li>
									<li>与供应商技术对接，评估供应商技术水平及结构BOM成本；</li>
									<li>解决产品研发、生产过程中的各种结构相关问题。</li>
								</ol>
								<h5>任职要求</h5>
								<ol>
									<li>全日制本科以上学历、机械、机电、自动化或相关专业；能熟练使用Solidworks、ProE等软件进行结构和复杂曲面设计；</li>
									<li>两年以上结构设计经验，具备独立完成较复杂结构设计的能力，熟悉橡胶材料/塑料材料性能，具备注塑模具及冲压模具知识；</li>
									<li>逻辑思维能力强、具备一定的创新意识及团队合作精神；具备创新思维能力，同时具备优秀的沟通表达能力，有过工业设计团队协作经验者优先。</li>
								</ol>
								<p class="text-center">简历请投递至 <a href="mailto:joinus@pi2star.com" target="_top">joinus@pi2star.com</a></p>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									WEB后端工程师
									<span class="glyphicon glyphicon-chevron-down"></span>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<h5>岗位职责</h5>
								<ol>
									<li>负责公司私有云数据平台产品的开发工作，实现可扩展的后台数据管理、系统管理、数据可视化功能；</li>
									<li>根据项目的需要快速学习并掌握新技术；</li>
								</ol>
								<h5>任职要求</h5>
								<ol>
									<li>熟悉常用web后端开发相关技术，具备1-3年开发经验，熟练掌握JAVA和主流SSH/SSM框架，具备独立上线小型项目的能力。</li>
									<li>掌握至少一种主流数据库，如MySQL等；；</li>
									<li>有简单前端开发经验、有私有云数据平台开发经验者优先考虑。</li>
								</ol>
								<p class="text-center">简历请投递至 <a href="mailto:joinus@pi2star.com" target="_top">joinus@pi2star.com</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>