<div class="content-sm container plain-content">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">

			<h1>Recommended Reading</h1>
			<p>Nonvolatile processor has gained increasing attention from both academia and industry since it was first invented in 2012. To grasp the concepts quickly and understand the opportunities and challenges in this area, we recommend you read the following <strong>review articles</strong> firstly:</p>
			<!--<ul>-->
				<!--<li><span class="paper-abbr">[ICCAD16]</span> <span class="paper-author">zhang san and li si</span> <span class="paper-title">nonvolatile processor</span> <span class="paper-booktitle">ICCS</span> <span class="paper-year">1999</span> <a class="paper-google-scholar">Google Scholar</a>  <li>-->
			<!--</ul>	-->
			<h2>Review</h2>
			<ul>
				<li class="paper margin-b-10" *ngFor="let paper of reviewPapers"><span class="paper-abbr">[{{paper.abbr}}]</span> <span class="paper-author">{{paper.author}}</span> <span class="paper-title">{{paper.title}}</span>, in <span class="paper-booktitle">{{paper.booktitle}}</span>, <span class="paper-year">{{paper.year}}</span>. <a href="{{paper.link}}" target="_blank" class="paper-link"><i class="fa fa-search" aria-hidden="true"></i> Google Scholar</a></li>
			</ul>	
			<p>Nonvolatile processor is a versatile concept that is compatible to different types of nonvolatile memory technology. By now, researchers have demonstrated nonvolatile processors implemented with ferroelectric RAM (FeRAM), magnetic RAM (MRAM) and resistive RAM (RRAM). Representative system implementation works are listed as follows:</p> 
			<h2>System Implementation</h2>
			<ul>
				<li class="paper margin-b-10" *ngFor="let paper of systemPapers"><span class="paper-abbr">[{{paper.abbr}}]</span> <span class="paper-author">{{paper.author}}</span> <span class="paper-title">{{paper.title}}</span>, in <span class="paper-booktitle">{{paper.booktitle}}</span>, <span class="paper-year">{{paper.year}}</span>. <a href="{{paper.link}}" target="_blank" class="paper-link"><i class="fa fa-search" aria-hidden="true"></i> Google Scholar</a></li>
			</ul>	
			<p>On top of that, we also classify the research topics related to nonvolatile processor into three categories: <strong>device &amp; circuit design, architectural exploration, and software &amp; application</strong>. Below are selected articles in each individual topic: </p>
			<h2>Device &amp; Circuit Design</h2>
			<ul>
				<li class="paper margin-b-10" *ngFor="let paper of devicePapers"><span class="paper-abbr">[{{paper.abbr}}]</span> <span class="paper-author">{{paper.author}}</span> <span class="paper-title">{{paper.title}}</span>, in <span class="paper-booktitle">{{paper.booktitle}}</span>, <span class="paper-year">{{paper.year}}</span>. <a href="{{paper.link}}" target="_blank" class="paper-link"><i class="fa fa-search" aria-hidden="true"></i> Google Scholar</a></li>
			</ul>	
			<h2>Architectural Exploration</h2>
			<ul>
				<li class="paper margin-b-10" *ngFor="let paper of architecturePapers"><span class="paper-abbr">[{{paper.abbr}}]</span> <span class="paper-author">{{paper.author}}</span> <span class="paper-title">{{paper.title}}</span>, in <span class="paper-booktitle">{{paper.booktitle}}</span>, <span class="paper-year">{{paper.year}}</span>. <a href="{{paper.link}}" target="_blank" class="paper-link"><i class="fa fa-search" aria-hidden="true"></i> Google Scholar</a></li>
			</ul>	
			<h2>Software &amp; Applications</h2>
			<ul>
				<li class="paper margin-b-10" *ngFor="let paper of softwarePapers"><span class="paper-abbr">[{{paper.abbr}}]</span> <span class="paper-author">{{paper.author}}</span> <span class="paper-title">{{paper.title}}</span>, in <span class="paper-booktitle">{{paper.booktitle}}</span>, <span class="paper-year">{{paper.year}}</span>. <a href="{{paper.link}}" target="_blank" class="paper-link"><i class="fa fa-search" aria-hidden="true"></i> Google Scholar</a></li>
			</ul>	





		</div>
	</div>
</div>
