<div class="content-lg container">
	<div class="showcase-title margin-b-80">
		<h1 class="margin-b-5">行业应用</h1>
		<p class="text-uppercase">智慧机器正在改变各行各业</p>
	</div>
	<!--// end row -->

	<div class="row">
		<!-- Latest Products -->
		<div class="col-sm-4 sm-margin-b-80">
			<div class="margin-b-20">
				<img class="img-responsive" src="assets/showcase/smart-living-min.png" alt="Latest Products Image">
				<!--<div class="play-wrapper"><div class="test"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div></div>-->
			</div>
			<h4><a routerLink="/">智能家居 </a></h4>
			<p>集能芯成科技提供人工智能语音/声纹双重识别芯片，利用强大的边缘计算能力实现本地学习，同时提供自然语言和声纹信息识别功能，让智能家居真正实现以用户为中心的交互体验。</p>
			<a class="link" routerLink="./">了解更多</a>
		</div>
		<!-- End Latest Products -->

		<!-- Latest Products -->
		<div class="col-sm-4 sm-margin-b-80">
			<div class="margin-b-20">
				<img class="img-responsive" src="assets/showcase/machine-health-min.jpg" alt="Latest Products Image">
			</div>
			<h4><a routerLink="/">机器设备健康 </a></h4>
			<p>集能芯成科技推出机器设备健康无线监测套件，包含易于部署的设备监测传感器组合和基于边缘计算的智能网关，能够实时预警设备运转异常并及时断电，随时为机器健康保驾护航。</p>
			<a class="link" routerLink="./">了解更多</a>
		</div>
		<!-- End Latest Products -->

		<!-- Latest Products -->
		<div class="col-sm-4 sm-margin-b-80">
			<div class="margin-b-20">
				<img class="img-responsive" src="assets/showcase/tyre-min.png" alt="Latest Products Image">
			</div>
			<h4><a routerLink="/">智慧轮胎</a> </h4>
			<p>集能芯成科技提供基于能量采集的轮胎健康数据终端，利用行车时的振动能量发电，无需维护，无需更换电池，让传感节点彻底摆脱电池的困扰，快速、高效地采集数据，保障轮胎健康。</p>
			<a class="link" routerLink="./">了解更多</a>
		</div>
		<!-- End Latest Products -->
	</div>
	<!--// end row -->
</div>
