<div class="content-lg container">
	<div class="showcase-title margin-b-80">
		<h1 class="margin-b-5">行业应用</h1>
		<p class="text-uppercase">智慧机器正在改变各行各业</p>
	</div>
	<!--// end row -->

	<div class="row">
		<!-- Latest Products -->
		<div class="col-sm-4 sm-margin-b-50">
			<div class="margin-b-20">
				<img class="img-responsive" src="assets/showcase/smart-living.png" alt="Latest Products Image">
				<!--<div class="play-wrapper"><div class="test"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div></div>-->
			</div>
			<h4><a routerLink="/showcase/self-powered-wearables">智能家居 </a></h4>
			<p>集能芯成科技推出基于人工智能的语音/声纹双重识别芯片，在强大的边缘计算能力之上实现本地学习，同时提供自然语言和声纹信息识别功能，让智能家居真正实现以用户为中心的交互体验。</p>
			<a class="link" routerLink="./self-powered-wearables">Read More</a>
		</div>
		<!-- End Latest Products -->

		<!-- Latest Products -->
		<div class="col-sm-4 sm-margin-b-50">
			<div class="margin-b-20">
				<img class="img-responsive" src="assets/showcase/machine-health.jpg" alt="Latest Products Image">
			</div>
			<h4><a routerLink="/showcase/transient-computing">机器设备健康 </a></h4>
			<p>集能芯成科技推出基于能量采集的机器设备健康无线监测套件，无需走线，无需更换电池，可快速、高效地采集设备健康数据。配合基于边缘运算的智能开关，可实时预警设备异常并及时断电，随时为机器保驾护航。</p>
			<a class="link" routerLink="./transient-computing">Read More</a>
		</div>
		<!-- End Latest Products -->

		<!-- Latest Products -->
		<div class="col-sm-4 sm-margin-b-50">
			<div class="margin-b-20">
				<img class="img-responsive" src="assets/showcase/tyre.png" alt="Latest Products Image">
			</div>
			<h4><a routerLink="/showcase/low-power-iot">智慧轮胎</a> </h4>
			<p>集能芯成科技推出基于能量采集的轮胎健康数据终端，利用行车时的振动能量发电，无需维护，无需更换电池，让传感节点彻底摆脱电池的困扰，快速、高效地采集轮胎健康数据。</p>
			<a class="link" routerLink="./low-power-iot">Read More</a>
		</div>
		<!-- End Latest Products -->
	</div>
	<!--// end row -->
</div>
