<div class="content-lg container">
	<div class="showcase-title margin-b-80">
		<h1 class="margin-b-10">Showcase</h1>
		<p class="text-uppercase">Real-world applications built with nonvolatile processor</p>
	</div>
	<!--// end row -->

	<div class="row">
		<!-- Latest Products -->
		<div class="col-sm-4 sm-margin-b-50">
			<div class="margin-b-20">
				<img class="img-responsive" src="assets/showcase/01.jpg" alt="Latest Products Image">
				<!--<div class="play-wrapper"><div class="test"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div></div>-->
			</div>
			<h4><a routerLink="/showcase/self-powered-wearables">Self-Powered Wearables </a></h4>
			<p>A wearable device monitoring breathing condition from breathing power. Nonvolatile processor helps to run through power failures without progress loss!</p> 
			<a class="link" routerLink="./self-powered-wearables">Read More</a>
		</div>
		<!-- End Latest Products -->

		<!-- Latest Products -->
		<div class="col-sm-4 sm-margin-b-50">
			<div class="margin-b-20">
				<img class="img-responsive" src="assets/showcase/02.jpg" alt="Latest Products Image">
			</div>
			<h4><a routerLink="/showcase/transient-computing">Trasient Computing</a></h4>
			<p>Turn the intermittent Wi-Fi signal into continuous computation progress. See how nonvolatile processor makes trasient computing efficient and reliable!</p>
			<a class="link" routerLink="./transient-computing">Read More</a>
		</div>
		<!-- End Latest Products -->

		<!-- Latest Products -->
		<div class="col-sm-4 sm-margin-b-50">
			<div class="margin-b-20">
				<img class="img-responsive" src="assets/showcase/03.jpg" alt="Latest Products Image">
			</div>
			<h4><a routerLink="/showcase/low-power-iot">Low-Power IoT</a> </h4>
			<p>A lot of IoT devices such as remote sensors serve in a "normally-off" operation pattern. See how nonvolatile processor brings energy saving benefits!</p>
			<a class="link" routerLink="./low-power-iot">Read More</a>
		</div>
		<!-- End Latest Products -->
	</div>
	<!--// end row -->
</div>
