<div class="content-sm container">
	<div class="row">
		<div class="plain-content col-lg-10 col-lg-offset-1">
			<h2>关于集能芯成</h2>
			<p>集能芯成科技成立于2017年，致力于用智能物联驱动各行各业的变革。集能芯成的核心团队来自清华大学、北京大学等国内外顶级研究机构和世界五百强企业。集能芯成科技提供从能量采集数据终端、智能边缘计算平台到云端数据挖掘的垂直整合解决方案，帮助传统工业企业提升核心竞争力。
			</p> 
			<!--<h1 class="margin-t-30">Partners</h1>-->
			<!--<div id="sponsor-list" class="owl-carousel owl-theme">-->
				<!--<div class="item">-->
					<!--<a><img src="assets/partner/rohm.png" style="width:155px" alt="ROHM Semiconductor"></a>-->
				<!--</div>-->
				<!--<div class="item">-->
					<!--<a><img src="assets/partner/intel.png" style="width:182px" alt="Intel"></a>-->
				<!--</div>-->
				<!--<div class="item">-->
					<!--<a><img src="assets/partner/huawei.png" style="width:120px" alt="Huawei"></a>-->
				<!--</div>-->
				<!--<div class="item">-->
					<!--<a><img src="assets/partner/pi2.png" style="width:179px" alt="EnPowerIo2T"></a>-->
				<!--</div>-->
				<!--<div class="item">-->
					<!--<a><img src="assets/partner/smartbow.png" style="width:183px" alt="Smartbow"></a>-->
				<!--</div>-->
				<!--<div class="item">-->
					<!--<a><img src="assets/partner/thu.png" style="width:120px" alt="Tsinghua University"></a>-->
				<!--</div>-->
				<!--<div class="item">-->
					<!--<a><img src="assets/partner/nthu.png" style="width:120px" alt="National Tsing Hua University"></a>-->
				<!--</div>-->
				<!--<div class="item">-->
					<!--<a><img src="assets/partner/psu.png" style="width:149px" alt="Penn State University"></a>-->
				<!--</div>-->
				<!--<div class="item">-->
					<!--<a><img src="assets/partner/ucsb.png" style="width:120px" alt="University of California, Santa Barbara"></a>-->
				<!--</div>-->
				<!--<div class="item">-->
					<!--<a><img src="assets/partner/osu.png" style="width:185px" alt="Oklahoma State University"></a>-->
				<!--</div>-->
				<!--<div class="item">-->
					<!--<a><img src="assets/partner/nd.jpg" style="width:120px" alt="University of Notre Dame"></a>-->
				<!--</div>-->
				<!--<div class="item">-->
					<!--<a><img src="assets/partner/cityu.png" style="width:190px" alt="City University of Hong Kong"></a>-->
				<!--</div>-->
				<!--<div class="item">-->
					<!--<a><img src="assets/partner/kaist.png" style="width:120px" alt="KAIST"></a>-->
				<!--</div>-->

			<!--</div>  -->
			<h2 class="margin-t-30">联系方式</h2>
			<div class="row">
				<div class="col-lg-4 col-lg-push-8">
					<h3>集能芯成总部<span class="text-uppercase margin-l-20">北京</span></h3>
					<ul class="list-unstyled contact-list">
						<li>
							<i class="margin-r-10 color-base fa fa-map-marker"></i> 
							Room 701, Unit 2, Building No.2
							<br>
							<i class="margin-r-10 fa fa-fake"> </i>
							Qingfenghua Jingyuan
							<br>
							<i class="margin-r-10 fa fa-fake"></i>
							Haidian District
							<br>
							<i class="margin-r-10 fa fa-fake"></i>
							Beijing China 100084
						</li>
						<!--<li>-->
							<!--<i class="margin-r-10 color-base fa fa-phone-square"></i>-->
							<!--<a class="plain" href="tel:86-10-62796637">+86 10 62796637</a>-->
						<!--</li>-->
						<li>
							<i class="margin-r-10 color-base fa fa-envelope"></i>
							<a  class="plain" href="mailto:nvlabs.tech@gmail.com" target="_top">nvlabs.tech@gmail.com</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-8 col-lg-pull-4">
					<agm-map [hidden]="ipFromCN" [latitude]="lat" [longitude]="lng" [scrollwheel]="true" [streetViewControl]="false" [mapTypeControl]="false" [scaleControl]="false" [zoomControl]="false" [zoom]="zoom" [styles]="styleArray">
						<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
					</agm-map>
					<div id="map-cn" [hidden]="!ipFromCN"></div>
				</div>
			</div>

<!-- 			<h1 class="margin-t-30">Credits</h1>
			<p><a href="https://gebootstrap.com" target="_blank">Bootstrap</a> &ndash; one of the world's most popular front-end web frameworks </p>
			<p><a href="https://angular.io" target="_blank">Angular</a> &ndash; a brilliant open-source front-end web application platform by <a href="https://google.com" target="_blank">Google</a></p>
			<p><a href="https://www.flaticon.com" target="_blank">Flaticon</a> &ndash; high quality graphic designs</p>
			<ul>
				<li>Motherboard icon and analytics icon made by <a href="https://www.flaticon.com/authors/madebyoliver" target="_blank">Madebyoliver</a></li>
				<li>Blackboard icon and bookshelf icon made by <a href="https://www.flaticon.com/authors/freepik" target="_blank">Freepik</a></li>
				<li>Rocket icon made by <a href="https://www.flaticon.com/authors/pixel-buddha" target="_blank">Pixel Buddha</a></li>
			</ul>			
			<p><a href="https://keenthemes.com/preview/aitonepage/" target="_blank">Aitonepage</a> &ndash; an excellent one-page theme powered by <a href="https://keenthemes.com" target="_blank">KeenThemes.com</a></p> -->
		</div>
	</div>
</div>
