<div class="bg-color-sky-light">
	<div class="content-sm container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="embed-responsive embed-responsive-16by9">
						<video (click)="toggleVideo()" #videoPlayer controls="controls" poster="assets/video/pi2star.png" class="embed-responsive-item">
							<source src="assets/video/pi2star.mp4" type="video/mp4">
							</video>
				</div>
			</div>

			<div class="plain-content col-lg-10 col-lg-offset-1 margin-t-40">
					<h2>关于集能芯成</h2>
					<p>集能芯成科技有限公司(π<sup>2</sup> Star Technology Ltd.)成立于2017年，致力于打造智慧机器，助力传统工业转型升级。集能芯成科技的核心团队来自清华大学、北京大学等国内外顶级研究机构和世界五百强企业，拥有专利10余项，学术论文100余篇。集能芯成科技提供从能量采集数据终端、智能边缘计算平台到云端数据分析系统的垂直整合解决方案，帮助传统工业企业在物联网+人工智能的浪潮中快速提升核心竞争力。
					</p> 
					<h2 class="margin-t-40">联系我们</h2>
					<div class="row">
						<div class="col-md-4 col-md-push-8">
							<h3>集能芯成科技<span class="text-uppercase margin-l-20">北京</span></h3>
							<ul class="list-unstyled contact-list">
								<li>
									<i class="margin-r-10 color-base fa fa-map-marker"></i> 
									北京市顺义区澜西园四区26号楼
									<br>
									<i class="margin-r-10 fa fa-fake"> </i>
									北京智能计算产业研究院
									<br>
									<i class="margin-r-10 fa fa-fake"> </i>
									101300
								</li>
								<li>
									<i class="margin-r-10 color-base fa fa-envelope"></i>
									<a  class="plain" href="mailto:contact@pi2star.com" target="_top">contact@pi2star.com</a>
								</li>
							</ul>
						</div>
						<div class="col-md-8 col-md-pull-4">
							<agm-map [hidden]="ipFromCN" [latitude]="lat" [longitude]="lng" [scrollwheel]="true" [streetViewControl]="false" [mapTypeControl]="false" [scaleControl]="false" [zoomControl]="false" [zoom]="zoom" [styles]="styleArray">
								<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
							</agm-map>
							<div id="map-cn" [hidden]="!ipFromCN"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
