<div class="content-sm container">
		<div class="row">
				<div class="col-lg-9 col-lg-offset-2">





						<div #titleWrapper class="product-title" [style.min-height.px]="titleMinHeight">
							<h1 #title [affix]="titleAffix" affixTop="97">Gem5-NVP Simulator</h1>
						</div>
						<div #intro class="row product-intro margin-b-20 margin-t-30">
								<div class="col-sm-8">
									<p>The gem5-NVP is a simulating framework for nonvolatile processors (NVP) and nonvolatile systems based on the gem5 simulator. It provides multiple interfaces for adding description of SimObjects' energy behavior as well as an energy management module which allows users to simulate state changes (power-on, power-off, etc.) easily.
									</p>
								</div>
								<div class="col-sm-4">
										<div class="margin-t-5">
												<button routerLink="/simulator/getting-started" class="btn-theme btn-color1-bg btn-block text-uppercase">Get Started</button>
												<button routerLink="/explore" class="btn-theme btn-white-bg btn-block text-uppercase">Learn More</button>
										</div> 
								</div>
						</div>
						<div class="product-nav" [style.min-height.px]="navMinHeight">
								<!-- <div class="nav-wrapper" [affix]="287"> -->
								<div #nav class="nav-wrapper" [affix]="navAffix" affixTop="{{navTop}}" [style.width.px]="navWidth">
										<ul class="nav nav-tabs">
												<li routerLinkActive="active"><a routerLink="/simulator/overview">OVERVIEW</a></li>
												<li routerLinkActive="active"><a routerLink="/simulator/getting-started">GETTING STARTED</a></li>
												<li routerLinkActive="active"><a routerLink="/simulator/concept-and-structure">CONCEPT &amp; STRUCTURE</a></li>
												<li routerLinkActive="active"><a routerLink="/simulator/example">EXAMPLE</a></li>
										</ul>
										<div class="shadow"></div>
								</div>
						</div>
						<div class="plain-content">
								<router-outlet></router-outlet>
						</div>
				</div>
		</div>
</div>
