<h2>
<a id="contents" class="anchor" href="#contents" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Contents</h2>
<ul>
<li>
<a routerLink="." fragment="energy-objects" (click)="onAnchorClick()">Energy Objects</a>
<ul>
<li><a routerLink="." fragment="members" (click)="onAnchorClick()">Members</a></li>
<li><a routerLink="." fragment="interfaces" (click)="onAnchorClick()">Interfaces</a></li>
</ul>
</li>
<li>
<a routerLink="." fragment="energy-ports" (click)="onAnchorClick()">Energy Ports</a>
<ul>
<li><a routerLink="." fragment="types-of-energy-ports">Types of Energy Ports</a></li>
<li><a routerLink="." fragment="messages-delivered-by-energy-port">Messages Delivered by Energy Port</a></li>
<li><a routerLink="." fragment="how-to-connect-energy-ports">How to Connect Energy Ports?</a></li>
</ul>
</li>
<li>
<a routerLink="." fragment="energy-management-module">Energy Management Module</a>
<ul>
<li><a routerLink="." fragment="members-and-interfaces">Members and Interfaces</a></li>
<li><a routerLink="." fragment="state-machine">State Machine</a></li>
<li><a routerLink="." fragment="harvesting-module">Harvest Module</a></li>
<li><a routerLink="." fragment="python-interfaces">Python Interfaces</a></li>
</ul>
</li>
<li>
<a routerLink="." fragment="other-concepts">Other Concepts</a>
<ul>
<li><a routerLink="." fragment="energy-events">Energy Events</a></li>
<li><a routerLink="." fragment="energy-profile">Energy Profile</a></li>
<li><a routerLink="." fragment="debug-flags">Debug Flags</a></li>
<li><a routerLink="." fragment="statistics-and-traces">Statistics and Traces</a></li>
</ul>
</li>
<li><a routerLink="." fragment="further-reading">Further Reading</a></li>
</ul>
<a name="Energy-Objects"></a>
<h2>
<a id="energy-objects" class="anchor" routerLink="." fragment="energy-objects" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Energy Objects</h2>
<p>Energy Object (aka "EnergyObject" in code) is a class that has members and
interfaces related to energy behavior. EnergyObjects is implemented as one of
SimObject's parent class, because every "Object" can have energy behavior.
EnergyObject empowers SimObjects to take actions when receiving energy messages
(such as power-on, power-off, back-up, etc.). The following picture shows the
inheritance diagram of SimObject.</p>
<div class="figure-sm">
  <img class="img-responsive" src="assets/simulator/sim_object.jpeg" alt="sim_object">
</div>
<a name="Energy-Objects-Members"></a>
<h3>
<a id="members" class="anchor" routerLink="." fragment="members" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Members</h3>
<table class="md-table">
<thead>
<tr>
<th align="left">Member</th>
<th align="left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left">_seport</td>
<td align="left">Slave Energy Port (see below) owned by the SimObject. It is used by the SimObject to connect energy management module as a consumer.</td>
</tr>
<tr>
<td align="left">_meport</td>
<td align="left">Master Energy Port (see below) owned by the SimObject. Normally only EnergyMgmt (see below) uses that port.</td>
</tr>
</tbody>
</table>
<a name="Energy-Objects-Interfaces"></a>
<h3>
<a id="interfaces" class="anchor" routerLink="." fragment="interfaces" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Interfaces</h3>
<table class="md-table">
<thead>
<tr>
<th align="left">Interface</th>
<th align="left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left">setSimObject</td>
<td align="left">Set owner for _seport and _meport, used at initialization stage. Not useful if not changing the structure of gem5-NVP.</td>
</tr>
<tr>
<td align="left">getSlaveEnergyPort</td>
<td align="left">Get _seport. Not useful if not changing the structure of gem5-NVP.</td>
</tr>
<tr>
<td align="left">getMasterEnergyPort</td>
<td align="left">Get _meport. Not useful if not changing the structure of gem5-NVP</td>
</tr>
<tr>
<td align="left">consumeEnergy</td>
<td align="left">Tell EnergyMgmt (see below) that this SimObject has consumed a certain amount of energy. It is used differently in EnergyMgmt module, but users don't need to care about it if not changing the structure of gem5-NVP.</td>
</tr>
<tr>
<td align="left">handleMsg</td>
<td align="left">Method to specify actions taken when a certain energy message is received. For instance, volatile SimObjects need to erase their data in case of power off, but non-volatile SimObjects only need to deschedule their events. Need to be rewritten by child classes.</td>
</tr>
</tbody>
</table>
<a name="Energy-Ports"></a>
<h2>
<a id="energy-ports" class="anchor" routerLink="." fragment="energy-ports" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Energy Ports</h2>
<p>Energy Ports (aka "EnergyPort" in code) is a class that is used by
SimObjects (EnergyObjects) to communicate with each other. It is very
similar to Port in the original gem5 (used by MemObjects to communicate
with each other). Energy Ports can be inter-connected, and
Energy Ports can send messages called EnergyMsg (see below) to
connected Energy Ports. Normally, EnergyMsgs sent by master port are for
notifying the slaves of state changes (power-on, power-off, back-up, etc)
of the whole system, while reverse ones are for telling EnergyMgmt module
that the SimObject is consuming a certain amount of energy in most time.</p>
<a name="Energy-Ports-Types-of-Energy-Ports"></a>
<h3>
<a id="types-of-energy-ports" class="anchor" routerLink="." fragment="types-of-energy-ports" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Types of Energy Ports</h3>
<p>There are two kinds of energy ports: master ports and slave ports. They can
be connected with each other (master-slave), but cannot be connected within
one kind (master-master, slave-slave). Functionally they have nearly no difference.
The only different point of these two kinds is that one master port can be
connected with multiple slave ports, while a slave port can only be connected
to one master port. Master port has an array of slave ports it is connected with,
and slave port saves the master port it is connected to.</p>
<a name="Energy-Ports-Messages-Delivered-by-Energy-Port"></a>
<h3>
<a id="messages-delivered-by-energy-port" class="anchor" routerLink="." fragment="messages-delivered-by-energy-port" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Messages Delivered by Energy Port</h3>
<p>Energy ports communicate with each other by sending a structure called EnergyMsg.</p>
<div class="highlight highlight-source-c"><pre><span class="pl-k">struct</span> EnergyMsg
{{'{'}}
  <span class="pl-c1">int32_t</span> type;
  <span class="pl-k">double</span> value;
};</pre></div>
<p>This is a very simple data structure. "type" is used to determine which kind
of message itself is. In most time, what different values of "type" mean is
defined by the state machine in EnergyMgmt module (see below). Actions taken
by SimObjects should be in correspondence with certain energy state machine.
Zero value of type is preserved because it means energy consuming no matter
what energy state machine the whole system uses. The variance "value" is used
to send energy values. For example, it means how much energy a SimObject has
consumed when type is equal to zero.</p>
<a name="Energy-Ports-How-to-Connect-Energy-Ports"></a>
<h3>
<a id="how-to-connect-energy-ports" class="anchor" routerLink="." fragment="how-to-connect-energy-ports" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>How to Connect Energy Ports?</h3>
<p>The next thing we need to concern is that how we determine how those SimObjects
(with energy ports) is connected. This can be done in simulating scripts.
Gem5-NVP has a swig interface in python to connect two SimObjects' energy ports.</p>
<div class="highlight highlight-source-python"><pre><span class="pl-k">import</span> m5.internal.pyobject connectEnergyPorts
<span class="pl-c"><span class="pl-c">#</span> s1, s2: SimObjects in python.</span>
connectEnergyPorts(s1.getCCObject(), s2.getCCObject())</pre></div>
<p>The above code connects s1's master port with s2's slave port. However, that
connecting method is not commonly used, because getCCObject() can only used
after all the SimObjects are created. Users are more likely to connect energy
ports in the script, when SimObjects are not created.</p>
<p>The most common way is very easy-to-use. Each EnergyObject (aka SimObject) has
a member called s_energy_port and a member called m_energy_port (slave energy
port and master energy port). Users can connect them simply using "=". For
example, if you want the cpu to be under the control of EnergyMgmt module, you
can use:</p>
<div class="highlight highlight-source-python"><pre>cpu.s_energy_port <span class="pl-k">=</span> mgmt.m_energy_port</pre></div>
<a name="Energy-Management-Module"></a>
<h2>
<a id="energy-management-module" class="anchor" routerLink="." fragment="energy-management-module" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Energy Management Module</h2>
<p>Energy Management module (aka EnergyMgmt in code) is a new kind of SimObject in
gem5-NVP. Its function is to simulate the energy control module in real systems.
It is able to simulate energy harvesting, voltage detection, system state control,
and a lot of other functions in real systems. Normally EnergyMgmt is the only
SimObject that uses the master port while running.</p>
<a name="Energy-Management-Module-Members-and-Interfaces"></a>
<h3>
<a id="members-and-interfaces" class="anchor" routerLink="." fragment="members-and-interfaces" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Members and Interfaces</h3>
<h5>
<a id="members-1" class="anchor" routerLink="." fragment="members-1" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Members</h5>
<table class="md-table">
<thead>
<tr>
<th align="left">Member</th>
<th align="left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left">time_unit</td>
<td align="left">Time unit of the energy profile.</td>
</tr>
<tr>
<td align="left">energy_remained</td>
<td align="left">Energy remained. Same function as capacitors in real non-volatile systems</td>
</tr>
<tr>
<td align="left">energy_harvest_data</td>
<td align="left">Energy data read from energy profile.</td>
</tr>
<tr>
<td align="left">state_machine</td>
<td align="left">The state machine the controls the system's energy state. (See below)</td>
</tr>
<tr>
<td align="left">harvest_module</td>
<td align="left">The module that determines how the system harvests energy from energy profile. (See below)</td>
</tr>
<tr>
<td align="left">event_harvest</td>
<td align="left">The event for energy harvesting. Happens per time unit.</td>
</tr>
<tr>
<td align="left">event_msg</td>
<td align="left">The event for broadcasting EnergyMsgs to slaves.</td>
</tr>
<tr>
<td align="left">msg_togo</td>
<td align="left">EnergyMsgs that are needed to broadcast to slaves at the current tick, which will be handled by event_msg.</td>
</tr>
<tr>
<td align="left">path_energy_profile</td>
<td align="left">The path to the energy profile.</td>
</tr>
</tbody>
</table>
<h5>
<a id="interfaces-1" class="anchor" routerLink="." fragment="interfaces-1" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Interfaces</h5>
<table class="md-table">
<thead>
<tr>
<th align="left">Interface</th>
<th align="left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left">consumeEnergy</td>
<td align="left">Derived from EnergyObject but used differently. Positive values mean energy is consumed (energy_remained goes down), while negative values mean that energy is harvested (energy_remained goes up).</td>
</tr>
<tr>
<td align="left">broadcastMsg</td>
<td align="left">The interface called when event_msg happens. It will broadcast a message to all the slaves.</td>
</tr>
<tr>
<td align="left">broadcastAsEvent</td>
<td align="left">Wrapper for broadcastMsg to make it into events. We broadcast messages in specify event because we don't want to mess up things in a single event.</td>
</tr>
<tr>
<td align="left">handleMsg</td>
<td align="left">The interface called when EnergyMgmt receives a message (Mostly energy consuming).</td>
</tr>
<tr>
<td align="left">energyHarvest</td>
<td align="left">The interface called when event_harvest happens. Harvest energy from energy_harvest_data/</td>
</tr>
<tr>
<td align="left">readEnergyProfile</td>
<td align="left">The function to read data from energy profile. Called at initialization stage.</td>
</tr>
</tbody>
</table>
<a name="Energy-Management-Module-State-Machine"></a>
<h3>
<a id="state-machine" class="anchor" routerLink="." fragment="state-machine" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>State Machine</h3>
<p>In most non-volatile system, there is an energy state machine to control the system's
power state. Gem5-NVP has an energy state machine object to control the system's state.
There is a base state machine class called "BaseEnergySM" defining the basic interface an
energy state machine should have. Users of gem5-NVP should over-write the interface
to achieve a custom state controller they want. An additional function is provided to
help the energy state machine to inform the system of state changes.</p>
<div class="highlight highlight-source-c"><pre><span class="pl-k">void</span> <span class="pl-en">update</span>(<span class="pl-k">double</span> _energy)</pre></div>
<p>This interface is used for the system to tell the energy state machine that the remaining
energy in the capacitor of the system has changed. Once the system harvests or consumes some
energy, EnergyMgmt module will call this api to inform the state controller. Users should
rewrite this api in their derived state machine class. The state maintained in the object
may be changed or maintained according to the energy provided.</p>
<div class="highlight highlight-source-c"><pre><span class="pl-k">void</span> <span class="pl-en">broadcastMsg</span>(<span class="pl-k">const</span> EnergyMsg &amp;msg);</pre></div>
<p>This function is to broadcast a EnergyMsg to the whole system. This interface is
useful because in most time the state machine has to inform the system to perform some kinds
of operation when the state is changed. If such notification is needed, "broadcastMsg" is
called inside "update". Normally the field "type" in EnergyMsg is defined when designing
energy state machine, and the operation other parts in the system take is implemented
according to those message types.</p>
<h5>
<a id="example" class="anchor" routerLink="." fragment="example" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Example</h5>
<p>Here is an example of a very straight-forward energy state machine, which is the default
energy state machine gem5-NVP provides. There are only 2 states, power-on and power-off in
the state machine. Once the energy goes below zero, power-off message is sent to the whole
system, and when energy becomes positive, power-on message is sent. Below is the "update"
function of such energy state machine.</p>
<div class="highlight highlight-source-c"><pre><span class="pl-k">void</span> <span class="pl-en">SimpleEnergySM::update</span>(<span class="pl-k">double</span> _energy)
{{'{'}}
  EnergyMsg msg;
  msg.<span class="pl-smi">val</span> = <span class="pl-c1">0</span>;

  <span class="pl-k">if</span> (state == STATE_INIT) {{'{'}}
    state = STATE_POWERON;
  } <span class="pl-k">else</span> <span class="pl-k">if</span> (state == STATE_POWERON &amp;&amp; _energy &lt; <span class="pl-c1">0</span>) {{'{'}}
    state = STATE_POWEROFF;
    msg.<span class="pl-smi">type</span> = MsgType ::POWEROFF;
    <span class="pl-c1">broadcastMsg</span>(msg);
  } <span class="pl-k">else</span> <span class="pl-k">if</span> (state == STATE_POWEROFF &amp;&amp; _energy &gt; <span class="pl-c1">0</span>) {{'{'}}
    state = STATE_POWERON;
    msg.<span class="pl-smi">type</span> = MsgType::POWERON;
    <span class="pl-c1">broadcastMsg</span>(msg);
  }
}</pre></div>
<p>The derived class of the state machine is called "SimpleEnergySM" in code.</p>
<a name="Energy-Management-Module-Harvesting-Module"></a>
<h3>
<a id="harvesting-module" class="anchor" routerLink="." fragment="harvesting-module" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Harvesting Module</h3>
<p>Real-world systems have complicated energy harvest module, which includes voltage transform
module, rectification module, etc. Gem5-NVP does not care those complex part of energy flow.
It only receives energy profile which contains power amplitude at discrete time. The harvesting
module only needs to tell how much energy can be harvested given one item in the energy profile.
The following interface is what a user of gem5-NVP should understand.</p>
<div class="highlight highlight-source-c"><pre><span class="pl-k">double</span> <span class="pl-en">energy_harvest</span>(<span class="pl-k">double</span> energy_harvested, <span class="pl-k">double</span> energy_remained)</pre></div>
<p>The interface gets the current remained energy in the capacitor and the energy item in energy
profile to perform its calculation. The interface returns the remained energy in the capacitor
after the system has harvested the energy provided in the energy profile.</p>
<h5>
<a id="example-1" class="anchor" routerLink="." fragment="example-1" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Example</h5>
<p>Like the energy state machine module, energy harvesting module also has a default derived class,
named "SimpleHarvest". The "energy_harvest" method in it is shown below.</p>
<div class="highlight highlight-source-c"><pre><span class="pl-k">double</span> <span class="pl-en">SimpleHarvest::energy_harvest</span>(<span class="pl-k">double</span> energy_harvested, <span class="pl-k">double</span> energy_remained)
{{'{'}}
  <span class="pl-k">return</span> energy_remained + energy_harvested;
}</pre></div>
<p>All the energy in the energy profile goes into the capacitor. Simple, isn't it? In real systems,
it is really hard to harvest more energy once there is abundant energy in the capacitor, and such
limitation can be described in the "energy_harvest" method.</p>
<a name="Energy-Management-Module-Python-Interfaces"></a>
<h3>
<a id="python-interfaces" class="anchor" routerLink="." fragment="python-interfaces" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Python Interfaces</h3>
<p>It is possible to control some of the behavior of EnergyMgmt module through python scripts as well as
arguments in shell command. The "Get Started" page provides some examples, and users can checkout
"configs/example/se_engy.py" to find out how to change the config in python script.</p>
<a name="Other-Concepts"></a>
<h2>
<a id="other-concepts" class="anchor" routerLink="." fragment="other-concepts" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Other Concepts</h2>
<p>There are some other concepts in gem5-NVP that is important.</p>
<a name="Other-Concepts-Energy-Events"></a>
<h3>
<a id="energy-events" class="anchor" routerLink="." fragment="energy-events" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Energy Events</h3>
<p>The state changes of the system is implemented through events. Once the state should be changed, the
energy state machine put a "state change" event at current tick through "broadcastMsg". Energy state-change
event is designed to have lower priority than other events so that state changes happens after all other
events at current tick finish. In this way, state changes would not happen inside one process and bring
conflicts.</p>
<a name="Other-Concepts-Energy-Profile"></a>
<h3>
<a id="energy-profile" class="anchor" routerLink="." fragment="energy-profile" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Energy Profile</h3>
<p>Energy profile is a file that contains amplitude of external power source at discrete time points. All the
values in the profile should be separated by line break or space.</p>
<a name="Other-Concepts-Debug-Flags"></a>
<h3>
<a id="debug-flags" class="anchor" routerLink="." fragment="debug-flags" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Debug Flags</h3>
<p>A new debug flag, "EnergyMgmt", is introduced into gem5 by gem5-NVP. Users can use the following command to
activate the debug flag:</p>
<div class="highlight highlight-source-shell"><pre>build/ARM/gem5.debug --debug-flag=EnergyMgmt --debug-file=your_output_file ...</pre></div>
<p>If you need to add new debug outputs into the flag, you can simply include "debug/EnergyMgmt.hh" in your
code and use "DPRINTF" to print the outputs.</p>
<div class="highlight highlight-source-c"><pre>#<span class="pl-k">include</span> <span class="pl-s"><span class="pl-pds">"</span>debug/EnergyMgmt.hh<span class="pl-pds">"</span></span>

...
  <span class="pl-en">DPRINTF</span>(EnergyMgmt, <span class="pl-s"><span class="pl-pds">"</span>Hello!<span class="pl-cce">\n</span><span class="pl-pds">"</span></span>);
...
</pre></div>
<a name="Other-Concepts-Statistics-and-Traces"></a>
<h3>
<a id="statistics-and-traces" class="anchor" routerLink="." fragment="statistics-and-traces" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Statistics and Traces</h3>
<p>TBD</p>
<a name="Further-Reading"></a>
<h2>
<a id="further-reading" class="anchor" routerLink="." fragment="further-reading" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Further Reading</h2>
<ul>
<li><a href="http://gem5.org/SimObjects" target="_blank">Introduction to SimObject</a></li>
<li><a href="http://gem5.org/Memory_System" target="_blank">Introduction to Mem System</a></li>
<li><a href="http://gem5.org/General_Memory_System" target="_blank">Another Introduction to Mem System</a></li>
<li><a href="http://learning.gem5.org/book/part2/helloobject.html" target="_blank">How to Add Your Own SimObject</a></li>
<li><a href="http://learning.gem5.org/book/part2/memoryobject.html" target="_blank">How to Add Simple MemObject</a></li>
<li><a href="http://pages.cs.wisc.edu/%7Edavid/courses/cs752/Spring2015/gem5-tutorial/part2/simobject.html" target="_blank">Creating your first SimObject</a></li>
</ul>

