<h2>
<a id="user-content-pre-requirement" class="anchor" href="#pre-requirement" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Pre-Requirement</h2>
<p>Gem5-NVP depends on nothing besides the dependencies of gem5 simulator. Tools needed before building gem5-NVP can be found at <a href="http://www.gem5.org/Dependencies" target="_blank">http://www.gem5.org/Dependencies</a>.</p>
<h2>
<a id="user-content-download" class="anchor" href="#download" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Download</h2>
<p>Gem5-NVP uses github to control its version. The latest version can be found at <a href="https://github.com/zlfben/gem5" target="_blank">https://github.com/zlfben/gem5</a>, and there are previous versions among tags of the repository (nvp-v*.*). You can get the latest stable version like this:</p>
<div class="highlight highlight-source-shell"><pre>git clone https://github.com/zlfben/gem5.git
<span class="pl-c1">cd</span> gem5
git checkout nvp-v2.0</pre></div>
<h2>
<a id="user-content-build" class="anchor" href="#build" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Build</h2>
<p>The build process of gem5-NVP is almost the same as gem5 simulator. Scons is used to build target system to be simulated. Theoretically, different ISAs are supported by gem5-NVP. However, gem5-NVP is tested under ARM, so the following build option is recommended:</p>
<div class="highlight highlight-source-shell"><pre>mv README.md README
scons build/ARM/gem5.debug</pre></div>
<p>One tricky thing is that gem5 checks its original raw README during its build, so we can simply rename README.md into README. Markdown file is used only for better github page.</p>
<h2>
<a id="user-content-usages" class="anchor" href="#usages" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Usages</h2>
<h4>
<a id="user-content-simulation-via-custom-simulation-script" class="anchor" href="#simulation-via-custom-simulation-script" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Simulation via Custom Simulation Script</h4>
<p>Although gem5-NVP provides a simulation script that recieves arguments to control the whole system, we highly recommand that users need to understand how the system is assembled on the python side. Thus, we will introduce how to configure gem5-NVP, especially the energy part, in the python side. Here is a simple configuration python code of gem5 which is compatible with gem5-NVP but does not contain energy behavior:</p>
<div class="highlight highlight-source-python"><pre><span class="pl-k">import</span> m5
<span class="pl-k">from</span> m5.objects <span class="pl-k">import</span> <span class="pl-k">*</span>

system <span class="pl-k">=</span> System()
system.clk_domain <span class="pl-k">=</span> SrcClockDomain()
system.clk_domain.clock <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">'</span>1MHz<span class="pl-pds">'</span></span>
system.clk_domain.voltage_domain <span class="pl-k">=</span> VoltageDomain()
system.mem_mode <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">'</span>atomic<span class="pl-pds">'</span></span>
system.mem_ranges <span class="pl-k">=</span> [AddrRange(<span class="pl-s"><span class="pl-pds">'</span>512MB<span class="pl-pds">'</span></span>)]

system.cpu <span class="pl-k">=</span> AtomicSimpleCPU()

system.membus <span class="pl-k">=</span> SystemXBar()

system.cpu.icache_port <span class="pl-k">=</span> system.membus.slave
system.cpu.dcache_port <span class="pl-k">=</span> system.membus.slave

system.cpu.createInterruptController()

system.mem_ctrl <span class="pl-k">=</span> DDR3_1600_x64()
system.mem_ctrl.range <span class="pl-k">=</span> system.mem_ranges[<span class="pl-c1">0</span>]
system.mem_ctrl.port <span class="pl-k">=</span> system.membus.master

system.system_port <span class="pl-k">=</span> system.membus.slave

process <span class="pl-k">=</span> LiveProcess()
process.cmd <span class="pl-k">=</span> [<span class="pl-s"><span class="pl-pds">'</span>tests/test-progs/hello/bin/arm/linux/hello<span class="pl-pds">'</span></span>]
system.cpu.workload <span class="pl-k">=</span> process
system.cpu.createThreads()

root <span class="pl-k">=</span> Root(<span class="pl-v">full_system</span> <span class="pl-k">=</span> <span class="pl-c1">False</span>, <span class="pl-v">system</span> <span class="pl-k">=</span> system)
m5.instantiate()

<span class="pl-c1">print</span> <span class="pl-s"><span class="pl-pds">"</span>Beginning simulation!<span class="pl-pds">"</span></span>
exit_event <span class="pl-k">=</span> m5.simulate()
<span class="pl-c1">print</span> <span class="pl-s"><span class="pl-pds">'</span>Exiting @ tick <span class="pl-c1">%i</span> because <span class="pl-c1">%s</span><span class="pl-pds">'</span></span> <span class="pl-k">%</span> (m5.curTick(), exit_event.getCause())</pre></div>
<p>To simulate energy-aware systems, we need to add several things to the original python code:</p>
<ul>
<li>add a energy management module and connect it to other parts of the system</li>
<li>determine how much energy other parts in the system consume in a certain time unit
Here is an example code:</li>
</ul>
<div class="highlight highlight-source-python"><pre><span class="pl-k">import</span> m5
<span class="pl-k">from</span> m5.objects <span class="pl-k">import</span> <span class="pl-k">*</span>

system <span class="pl-k">=</span> System()
system.clk_domain <span class="pl-k">=</span> SrcClockDomain()
system.clk_domain.clock <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">'</span>1MHz<span class="pl-pds">'</span></span>
system.clk_domain.voltage_domain <span class="pl-k">=</span> VoltageDomain()
system.mem_mode <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">'</span>atomic<span class="pl-pds">'</span></span>
system.mem_ranges <span class="pl-k">=</span> [AddrRange(<span class="pl-s"><span class="pl-pds">'</span>512MB<span class="pl-pds">'</span></span>)]

system.cpu <span class="pl-k">=</span> AtomicSimpleCPU()

<span class="pl-c"><span class="pl-c">#</span> Energy management module of the system</span>
system.energy_mgmt <span class="pl-k">=</span> EnergyMgmt()
<span class="pl-c"><span class="pl-c">#</span> Tell EnergyMgmt the path to the energy profile</span>
system.energy_mgmt.path_energy_profile <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">'</span>profile/energy_prof<span class="pl-pds">'</span></span>
<span class="pl-c"><span class="pl-c">#</span> Tell EnergyMgmt the time unit of the energy profile</span>
system.energy_time_unit <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">'</span>10us<span class="pl-pds">'</span></span>
<span class="pl-c"><span class="pl-c">#</span> Connect the energy port of the cpu to the one of EnergyMgmt</span>
<span class="pl-c"><span class="pl-c">#</span> Every SimObject has s_energy_port and m_energy_port. If you </span>
<span class="pl-c"><span class="pl-c">#</span> want a SimObject to be under the control of EnergyMgmt, you</span>
<span class="pl-c"><span class="pl-c">#</span> should connect its s_energy_port to EnergyMgmt's m_enrgy_port </span>
<span class="pl-c"><span class="pl-c">#</span> using "=".</span>
system.cpu.s_energy_port <span class="pl-k">=</span> system.energy_mgmt.m_energy_port

system.membus <span class="pl-k">=</span> SystemXBar()

system.cpu.icache_port <span class="pl-k">=</span> system.membus.slave
system.cpu.dcache_port <span class="pl-k">=</span> system.membus.slave

system.cpu.createInterruptController()

system.mem_ctrl <span class="pl-k">=</span> DDR3_1600_x64()
system.mem_ctrl.range <span class="pl-k">=</span> system.mem_ranges[<span class="pl-c1">0</span>]
system.mem_ctrl.port <span class="pl-k">=</span> system.membus.master

system.system_port <span class="pl-k">=</span> system.membus.slave

process <span class="pl-k">=</span> LiveProcess()
process.cmd <span class="pl-k">=</span> [<span class="pl-s"><span class="pl-pds">'</span>tests/test-progs/hello/bin/arm/linux/hello<span class="pl-pds">'</span></span>]
system.cpu.workload <span class="pl-k">=</span> process
system.cpu.createThreads()

root <span class="pl-k">=</span> Root(<span class="pl-v">full_system</span> <span class="pl-k">=</span> <span class="pl-c1">False</span>, <span class="pl-v">system</span> <span class="pl-k">=</span> system)
m5.instantiate()

<span class="pl-c1">print</span> <span class="pl-s"><span class="pl-pds">"</span>Beginning simulation!<span class="pl-pds">"</span></span>
exit_event <span class="pl-k">=</span> m5.simulate()
<span class="pl-c1">print</span> <span class="pl-s"><span class="pl-pds">'</span>Exiting @ tick <span class="pl-c1">%i</span> because <span class="pl-c1">%s</span><span class="pl-pds">'</span></span> <span class="pl-k">%</span> (m5.curTick(), exit_event.getCause())</pre></div>
<p>Now gem5-NVP only supports AtomicSimpleCPU. If you wants to add support for other models, you can visit <a routerLink="/simulator/concept-and-structure">CONCEPT &amp; STRUCTURE</a> to get more information about the workflow of gem5-NVP and implement energy-aware behavior of the model you want. If you want to simulate of a system that contains external devices, you may want to check out the page <a href="https://github.com/zlfben/gem5/wiki/Virtual-Devices" target="_blank">https://github.com/zlfben/gem5/wiki/Virtual-Devices</a> for more information. The code mentioned above can be found at "configs/example/simple_engy.py"</p>
<h4>
<a id="user-content-simulation-via-sample-simulation-script" class="anchor" href="#simulation-via-sample-simulation-script" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Simulation via Sample Simulation Script</h4>
<p>Gem5-nvp provides an alternated script based on "./configs/example/se.py" to simulate energy-related systems, using System Call Emulation Mode in gem5. The path to the script is "./configs/example/se_engy.py". The script works just as simple_engy.py, but receives parameters to control the energy behaviors.</p>
<h6>
<a id="user-content-arguments-of-simulating-script" class="anchor" href="#arguments-of-simulating-script" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Arguments of Simulating Script</h6>
<table class="md-table">
<thead>
<tr>
<th align="left">Argument</th>
<th align="left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left">--energy-prof={{ '{' }}FILE}</td>
<td align="left">Locate the path to energy profile.</td>
</tr>
<tr>
<td align="left">--energy-time-unit={{ '{' }}TIME_UNIT}</td>
<td align="left">Set time unit of energy profile. (Default '1us')</td>
</tr>
</tbody>
</table>
<h4>
<a id="user-content-arguments-of-target-system-related-to-gem5-nvp" class="anchor" href="#arguments-of-target-system-related-to-gem5-nvp" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Arguments of Target System Related to gem5-NVP</h4>
<p>A new debug flag is introduced in gem5-NVP. Users can type the following command to output the debug information of EnergyMgmt module:</p>
<div class="highlight highlight-source-shell"><pre>build/ARM/gem5.debug --debug-flags=EnergyMgmt [ simulation script ]</pre></div>
<table class="md-table">
<thead>
<tr>
<th align="left">Argument</th>
<th align="left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left">--debug-flags={{ '{' }}FLAGS}</td>
<td align="left">Decide what kinds of debug information to print. "EnergyMgmt" for energy behavior.</td>
</tr>
<tr>
<td align="left">--debug-file={{ '{' }}FILE}</td>
<td align="left">Set the target file for debug output.</td>
</tr>
</tbody>
</table>
<h4>
<a id="user-content-example" class="anchor" href="#example" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Example</h4>
<p>The following examples will simulate systems running "./test/test-progs/hello/bin/arm/linux/hello".
To run exactly like gem5 (No energy behavior is simulated):</p>
<div class="highlight highlight-source-shell"><pre>build/ARM/gem5.debug configs/example/se_engy.py -c tests/test-progs/hello/bin/arm/linux/hello</pre></div>
<p>To simulate atomic cpu's energy behavior, using energy profile "./profile/energy_prof", with energy_time_unit = 1us, printing all the debug information of energy behavior into "./m5out/a.out":</p>
<div class="highlight highlight-source-shell"><pre>build/ARM/gem5.debug --debug-flags=EnergyMgmt --debug-file=a.out configs/example/se_engy.py -c tests/test-progs/hello/bin/arm/linux/hello --energy-profile=./profile/energy_prof --energy-time-unit=<span class="pl-s"><span class="pl-pds">'</span>1us<span class="pl-pds">'</span></span> </pre></div>
<p>To use the custom script:</p>
<div class="highlight highlight-source-shell"><pre>build/ARM/gem5.debug configs/example/simple_engy.py</pre></div>
<p>Gem5-NVP also supports more advanced functions which require developers to modify source code, like simulating systems with 2-threshold energy state machine. An example of such usage can be found at <a routerLink="/simulator/example">EXAMPLE</a>.</p>
<h2>
<a id="user-content-gem5-readme" class="anchor" href="#gem5-readme" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>gem5 README</h2>
<p>This is the gem5 simulator.</p>
<p>The main website can be found at <a href="http://www.gem5.org" target="_blank">http://www.gem5.org</a></p>
<p>A good starting point is <a href="http://www.gem5.org/Introduction" target="_blank">http://www.gem5.org/Introduction</a>, and for
more information about building the simulator and getting started
please see <a href="http://www.gem5.org/Documentation"> target="_blank"http://www.gem5.org/Documentation</a> and
<a href="http://www.gem5.org/Tutorials" target="_blank">http://www.gem5.org/Tutorials</a>.</p>
<p>To build gem5, you will need the following software: g++ or clang,
Python (gem5 links in the Python interpreter), SCons, SWIG, zlib, m4,
and lastly protobuf if you want trace capture and playback
support. Please see <a href="http://www.gem5.org/Dependencies" target="_blank">http://www.gem5.org/Dependencies</a> for more details
concerning the minimum versions of the aforementioned tools.</p>
<p>Once you have all dependencies resolved, type 'scons
build//gem5.opt' where ARCH is one of ALPHA, ARM, NULL, MIPS,
POWER, SPARC, or X86. This will build an optimized version of the gem5
binary (gem5.opt) for the the specified architecture. See
<a href="http://www.gem5.org/Build_System" target="_blank">http://www.gem5.org/Build_System</a> for more details and options.</p>
<p>With the simulator built, have a look at
<a href="http://www.gem5.org/Running_gem5" target="_blank">http://www.gem5.org/Running_gem5</a> for more information on how to use
gem5.</p>
<p>The basic source release includes these subdirectories:</p>
<ul>
<li>configs: example simulation configuration scripts</li>
<li>ext: less-common external packages needed to build gem5</li>
<li>src: source code of the gem5 simulator</li>
<li>system: source for some optional system software for simulated systems</li>
<li>tests: regression tests</li>
<li>util: useful utility programs and files</li>
</ul>
<p>To run full-system simulations, you will need compiled system firmware
(console and PALcode for Alpha), kernel binaries and one or more disk
images. Please see the gem5 download page for these items at
<a href="http://www.gem5.org/Download" target="_blank">http://www.gem5.org/Download</a></p>
<p>If you have questions, please send mail to <a href="mailto:gem5-users@gem5.org">gem5-users@gem5.org</a></p>
<p>Enjoy using gem5 and please share your modifications and extensions.</p>
