<header #navbarFixedTop class="header navbar-fixed-top">
	<!-- Navbar -->
	<nav class="navbar" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="menu-container">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="toggle-icon"></span>
				</button>

				<!-- Logo -->
				<div class="logo">
					<a class="logo-wrap" routerLink="/home">
						<img class="logo-img logo-img-main" src="assets/logo-white.png" alt="NVLabs Logo">
						<img class="logo-img logo-img-active" src="assets/logo-dark.png" alt="NVLabs Logo">
					</a>
				</div>
				<!-- End Logo -->
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse nav-collapse">
				<div class="menu-container">
					<ul class="nav navbar-nav navbar-nav-right" (click)="hide()">
						<li class="nav-item active"><a class="nav-item-child nav-item-hover" routerLink="/home">首页</a></li>
						<li class="nav-item"><a class="nav-item-child nav-item-hover" routerLink="/solution">解决方案</a></li>
						<li class="nav-item"><a class="nav-item-child nav-item-hover" routerLink="/showcase" >行业应用</a></li>
						<li class="nav-item"><a class="nav-item-child nav-item-hover" routerLink="/joinus">招贤纳士</a></li>
						<li class="nav-item"><a class="nav-item-child nav-item-hover" routerLink="/about" >关于我们</a></li>
					</ul> 
				</div>
			</div>
			<!-- End Navbar Collapse -->
		</div>
	</nav>
	<!-- Navbar -->
</header>
<!--========== END HEADER ==========-->

<div class="content">
	<router-outlet></router-outlet>
</div>

<!--========== FOOTER ==========-->
<footer class="footer">
	<!-- Links -->
	<div class="section-seperator"></div>
	<div class="content-xs container">
		<div class="row">
			<div class="col-sm-2 col-xs-3">
				<!-- List -->
				<ul class="list-unstyled footer-list">
					<li class="footer-list-item"><a routerLink="/home">首页</a></li>
				</ul>
				<!-- End List -->
			</div>
			<div class="col-sm-2 col-xs-4">
				<!-- List -->
				<ul class="list-unstyled footer-list">
					<li class="footer-list-item"><a routerLink="/solution">解决方案</a></li>
					<li class="footer-list-item"><a routerLink="/showcase">行业应用</a></li>
				</ul>
				<!-- End List -->
			</div>
			<div class="col-sm-2 col-xs-4">
				<!-- List -->
				<ul class="list-unstyled footer-list">
					<li class="footer-list-item"><a routerLink="/joinus">招贤纳士</a></li>
					<li class="footer-list-item"><a routerLink="/about">关于我们</a></li>
				</ul>
				
				<!-- End List -->
			</div>
			<div class="col-sm-3 hidden-xs">
				<!-- List -->
				<ul class="list-unstyled footer-list">
					<li class="footer-list-item">商务合作：</li>
					<li class="footer-list-item"><a href="mailto:partner@pi2star.com" target="_top">partner@pi2star.com</a></li>
				</ul>
			
				<!-- End List -->
			</div>
			<div class="col-sm-3 hidden-xs">
				<a routerLink="/home" class="text-right">
					<img class="footer-logo" src="assets/logo-dark.png" alt="Aitonepage Logo">
				</a>				
			</div>

		</div>
		<!--// end row -->
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 copyright">
				<p>Copyright 2017. 集能芯成科技(北京)有限公司 版权所有 <a class="plain-text" href="http://www.miitbeian.gov.cn" target="_blank">京ICP备18002692号</a></p>
			</div>
		</div>
	</div>
	<!-- End Links -->
	<div class="section-seperator"></div>
</footer>

