<h2>Schematic</h2>
<p>NVPEval is an open-source hardware! The schematic and PCB project are available as follows for you to design your own boards.</p>
<a href="download/NVPEval-schematics.pdf" download="NVPEval-schematics.pdf" class="button btn-theme btn-theme-lg btn-color3-bg margin-r-20"><i class="fa fa-download margin-r-10"></i>Schematic in .PDF</a>
<a href="download/NVPEval-PCB-project.zip" download="NVPEval-PCB-project.zip" class="button btn-theme btn-theme-lg btn-color2-bg margin-r-20"><i class="fa fa-download margin-r-10"></i>PCB Project in .ZIP</a>

<h2>THU-1010N Datasheet</h2>
<p>This document provides the datasheet of nonvolatile processor THU-1010N.</p>

<a href="download/THU1010N-datasheet.pdf" download="THU1010N-datasheet.pdf" class="button btn-theme btn-theme-lg btn-color1-bg margin-r-20"><i class="fa fa-download margin-r-10"></i>Datasheet in .pdf</a>

<h2>Coding Examples</h2>
<p>The following zip file includes basic coding examples on nonvolatile processor as well as drivers of sensors and communication protocols. </p>
<a href="download/NVPEval-examples.zip" download="NVPEval-examples.zip" class="button btn-theme btn-theme-lg btn-color4-bg margin-r-20"><i class="fa fa-download margin-r-10"></i>Examples in .zip</a>
