<p>The NVPEval is a fully-integrated and easy-to-use development board taking full advantage of our ferroelectric nonvolatile processor &mdash; THU-1010N. The on-board clock/power management units and communication/debugging intefaces allow developers to fast prototype a self-powered nonvolatile embedded system. </p>
<p>Technical specifications of NVPEval is available at <a routerLink="/platform/techspecs">TECH SPECS</a>. To run your first program in nonvolatile processor, please refer to <a routerLink="/platform/getting-started">GETTING STARTED</a>. The PCB project, datasheet of THU-1010N and coding examples can be found at <a routerLink="/platform/downloads">DOWNLOADS</a>. </p>
<h2>Structure</h2>
<div class="figure">
	<img class="img-responsive" src="assets/platform/structure.jpg" alt="NVPEval Structure">
	<div class="caption">Figure 1: Block Diagram of NVPEval</div>
</div>
<p>The NVPEval platform includes one motherboard and three daughter boards: power &amp; clock management, nonvolatile processor and switch &amp; LED. Figure 1 shows its basic structure. The power management and clock management unit run from an external energy harvesting module (e.g. PV cell), and provide VDD and clock signal to the nonvolatile processor. Then the processor communicates with peripherals via GPIO/UART/I2C/SPI. A USB interface is also included to facilitate debugging and programming. 
<h2>Advantages of Nonvolatile Processor</h2>
<div class="caption">Table I. Comparison of THU-1010N and MSP430FR5739</div>
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<th>Metrics</th>
			<th>MSP430FR5739</th>
			<th>THU-1010N</th>
			<th>Improvements</th>
		</tr>
		<tr>
			<td>Sleep mode current</td>
			<td>320 nA</td>
			<td>0</td>
			<td>100%</td>
		</tr>
		<tr>
			<td>Backup time</td>
			<td>212 us</td>
			<td>7 us</td>
			<td>30 x</td>
		</tr>
		<tr>
			<td>Backup energy</td>
			<td>339.2 nJ</td>
			<td>23.1 nJ</td>
			<td>14 x</td>
		</tr>
		<tr>
			<td>Restore time</td>
			<td>310 us</td>
			<td>3 us</td>
			<td>103 x</td>
		</tr>
		<tr>
			<td>Restore energy</td>
			<td>496.0 nJ</td>
			<td>8.1 nJ</td>
			<td>61 x</td>
		</tr>
	</tbody>
</table>
<p>To clearly illustrate the advantages of nonvolatile processor THU-1010N, we compare it with a state-of-the-art ferroelectric random access (FRAM) based microprocessor &mdash; MSP430FR5739 (Table I). Although MSP430FR5739 has significantly reduced standby mode power consumption thanks to the adoption of FRAM as data and instruction memory, it still suffers from high backup and restore overheads because of the serial data transfer between processor and FRAM macro. In contrast, nonvolatile processor completes data backup and restore in a fully parallel way, therefore achieving more than 10 times savings in both time and energy.  
