<table class="table table-striped table-hover table-techspecs">
	<tbody>
		<tr>
			<td>Microcontroller</td>
			<td>8051</td>
		</tr>
		<tr>
			<td>Operating Voltage</td>
			<td>3.3 V (I/O) / 1.5 V (Core)</td>
		</tr>
		<tr>
			<td>Clock Speed</td>
			<td>25 MHz</td>
		</tr>
		<tr>
			<td>Active Power</td>
			<td>160 uW/MHz</td>
		</tr>
		<tr>
			<td>Standby Power</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Backup Time</td>
			<td>7 us</td>
		</tr>
		<tr>
			<td>Restore Time</td>
			<td>3 us</td>
		</tr>
		<tr>
			<td>Backup Energy</td>
			<td>23.1 nJ</td>
		</tr>
		<tr>
			<td>Restore Energy</td>
			<td>8.1 nJ</td>
		</tr>
		<tr>
			<td>Nonvolatile Flip-Flops</td>
			<td>1,607</td>
		</tr>
		<tr>
			<td>Flash Memory</td>
			<td>64 KB</td>
		</tr>
		<tr>
			<td>UART</td>
			<td>1</td>
		</tr>
		<tr>
			<td>I2C</td>
			<td>1</td>
		</tr>
		<tr>
			<td>SPI</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Length</td>
			<td>185 mm</td>
		</tr>
		<tr>
			<td>Width</td>
			<td>95 mm</td>
		</tr>
		<tr>
			<td>Height</td>
			<td>27 mm</td>
		</tr>
	</tbody>
</table>
