<div class="bg-color-sky-light">
	<div class="content-sm container">
		<div class="row">
			<div class="col-lg-12 col-sm-12">
				<div class="row">
					<div class="col-lg-12 margin-b-60">
						<h1 class="solution-title">解决方案 <small> 从能量采集到智能物联的垂直整合</small></h1>
					</div>
					<div class="col-md-6 col-xs-12 solution-image">
						<img class="img-responsive" src="assets/solution/EH-min.png" alt="能量采集数据终端">
					</div>
					<div class="col-md-6 col-xs-12 solution-content">
						<h2 class="margin-b-20">能量采集数据终端</h2>
						<p>传统电池具有污染环境、充电频繁、维护困难、易燃易爆等短期内无法解决的缺陷，已成为制约物联网设备更快更广部署的关键因素。集能芯成科技推出基于周边环境能量采集的物联网数据终端，让物联网设备彻底摆脱电池的困扰。集能芯成科技提供独特的能量采集专用处理器芯片，可在太阳能、震动能、热能、射频能以及多能源混合供能条件下高效、稳定运行，将大幅拓展传统物联网的应用领域。</p>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-5 col-md-push-7 col-sm-12 solution-image">
						<img class="img-responsive" src="assets/solution/EC-min.png" alt="边缘智能计算平台">
					</div>
					<div class="col-md-7 col-md-pull-5 col-sm-12 solution-content">
						<h2 class="margin-b-20">边缘智能计算平台</h2>
						<p>传统物联网的计算能力集中在数据中心，对网络容量、成本、稳定性和安全提出严峻挑战。集能芯成科技推出智能边缘计算平台，赋予物联网边缘设备更高的智能程度、更快的响应速度和更强的计算能力。集能芯成科技提供顶层应用-人工智能模型-智能计算加速芯片的全栈解决方案，将智能计算真正从云端推向边缘，在物联网边缘处实现数据的本地存储、分析和处理。</p>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-6 col-sm-12 solution-image">
						<img class="img-responsive" src="assets/solution/CS-min.png" alt="云端数据分析系统">
					</div>
					<div class="col-md-6 col-sm-12 solution-content">
						<h2 class="margin-b-20">云端数据分析系统</h2>
						<p>基于能量收集数据终端和智能边缘计算平台采集和处理的海量数据，集能芯成科技在云端进行数据整合、数据挖掘和探索式分析，提供快速、准确、深入的数据洞察。得益于能量采集数据终端的广泛应用领域，集能芯成科技提供的云端数据分析系统也将给机器健康监测、重要资产追踪、智慧城市、可植入设备等新兴物联网领域赋予智能。</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
