html {
  overflow-x: hidden;
}

html, html a, body {
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
	font-family: Lato, sans-serif;
}

p {
  font-size: 15px;
  font-weight: 400;
  font-family: Lato, sans-serif;
  color: #727272;
  line-height: 1.8;
  margin-bottom: 15px;
}

em,
li,
li a {
  font-size: 16px;
  font-weight: 500;
	font-family: Lato, sans-serif;
  color: #727272;
}

a {
	font-family: Lato, sans-serif;
  color: #727272;
  outline: 0;
}

a:focus, a:hover, a:active {
  outline: 0;
  color: #999caa;
  text-decoration: none;
}

.link {
  position: relative;
  font-size: 13px;
  font-weight: 600;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
}

.link:after {
  position: absolute;
  top: 8px;
  right: -15px;
  width: 9px;
  height: 2px;
  background: #13b1cd;
  content: " ";
}

span {
  font-size: 16px;
  font-weight: 400;
  font-family: Lato, sans-serif;
  color: #bfc1c7;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  color: #515769;
  line-height: 1.4;
  margin: 0 0 15px;
}


h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: #515769;
}

h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
  color: #999caa;
  text-decoration: none;
}

h1 > a:focus, h2 > a:focus, h3 > a:focus, h4 > a:focus, h5 > a:focus, h6 > a:focus {
  text-decoration: none;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 22px;
}

@media( max-width: 768px ) {
	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 20px;
	}
}

::selection {
  color: #fff;
  background: #13b1cd;
  text-shadow: none;
}

::-webkit-selection {
  color: #fff;
  background: #13b1cd;
  text-shadow: none;
}

::-moz-selection {
  color: #fff;
  background: #13b1cd;
  text-shadow: none;
}

:active,
:focus {
  outline: none;
}

/* Section Seperator */
.section-seperator {
  border-bottom: 1px solid #edf0f2;
}

/* Content Wrapper Link */
.content-wrapper-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 3;
  text-decoration: none;
}


/*------------------------------------------------------------------
  	[Button]
------------------------------------------------------------------*/
.btn-theme {
  position: relative;
  display: inline-block;
  line-height: 1.1;
  text-align: center;
  background-image: none;
  border-style: solid;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-theme:focus, .btn-theme:active:focus, .btn-theme.active:focus, .btn-theme.focus, .btn-theme:active.focus, .btn-theme.active.focus {
  outline: none;
}

.btn-theme:hover {
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/*.btn-theme:hover, .btn-theme:focus, .btn-theme.focus {*/
.btn-theme:hover {
  text-decoration: none;
  background: #13b1cd;
}

.btn-theme:active, .btn-theme.active {
  background-image: none;
  outline: 0;
}

.btn-theme.disabled, .btn-theme[disabled],
fieldset[disabled] .btn-theme {
  cursor: not-allowed;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}

.btn-white-bg {
  color: #fff;
  background: #515769;
  border-color: transparent;
  border-width: 0;
}

.btn-color1-bg {
    color: #fff;
    background: #13CD82;
    border-color: transparent;
    border-width: 0;
}

.btn-color2-bg {
    color: #fff;
    background: #DA4D4B;
    border-color: transparent;
    border-width: 0;
}

.btn-color3-bg {
    color: #fff;
    background: #9A1E55;
    border-color: transparent;
    border-width: 0;
}

.btn-color4-bg {
    color: #fff;
    background: #1E879A;
    border-color: transparent;
    border-width: 0;
}

/*.btn-white-bg:hover, .btn-white-bg:focus, .btn-white-bg.focus {*/
.btn-white-bg:hover {
  color: #fff;
  background: #13b1cd;
  border-color: transparent;
}

.btn-white-brd {
  color: #fff;
  background: transparent;
  border-color: #fff;
  border-width: 1px;
}

.btn-white-brd:hover, .btn-white-brd:focus, .btn-white-brd.focus {
  color: #515769;
  background: #fff;
  border-color: #fff;
}

.btn-default-bg {
  color: #515769;
  background: #f3f4f5;
  border-color: transparent;
  border-width: 0;
}

.btn-default-bg:hover, .btn-default-bg:focus, .btn-default-bg.focus {
  color: #fff;
  background: #13b1cd;
  border-color: transparent;
}

.btn-theme-sm {
  font-size: 13px;
  font-weight: 600;
  padding: 15px 40px;
}

.btn-theme-xs {
  font-size: 13px;
  font-weight: 600;
  padding: 10px 50px;
}

.btn-theme-lg {
    font-size: 16px;
    font-weight: 400;
    min-width: 240px;
    text-transform: uppercase;
    padding: 15px 20px;
}

/*.btn-theme-lg:hover, .btn-theme-lg:focus, .btn-theme-lg.focus {*/
.btn-theme-lg:hover {
    //color: #fff;
    background: #13b1cd;
    //border-color: transparent;
}

@media (max-width: 768px) {
  .btn-theme-sm {
		padding: 10px 40px;
  }
}

/*------------------------------------------------------------------
  	[Footer]
------------------------------------------------------------------*/
.footer .footer-logo {
  width: 120px;
  height: auto;
	position: absolute;
	top: 0px;
	right: 0px;
  margin-right: 15px;
}

.footer .footer-list {
  margin-bottom: 0;
}

.footer .footer-list-item {
  color: #777984;
  margin-bottom: 10px;
}

.footer .footer-list-item:last-child {
  margin-bottom: 0;
}

.footer .copyright {
	text-align: center;
  word-break: keep-all;
}

/*------------------------------------------------------------------
    [Header]
------------------------------------------------------------------*/
/* Fixed Top */
.navbar-fixed-top .navbar-collapse {
  max-height: 100%;
}

/* Navbar */
.header .navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* Navbar Toggle */
.header .navbar-toggle {
  width: 25px;
  height: 25px;
  border: none;
  padding: 0;
  margin: 35px 0;
}

.header .navbar-toggle .toggle-icon {
  position: relative;
  width: 21px;
  height: 1px;
  display: inline-block;
  background: #515769;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle .toggle-icon:before, .header .navbar-toggle .toggle-icon:after {
  position: absolute;
  left: 0;
  background: #515769;
  content: " ";
}

.header .navbar-toggle .toggle-icon:before {
  width: 10px;
  height: 1px;
  bottom: 10px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle .toggle-icon:after {
  width: 16px;
  height: 1px;
  top: -5px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle:hover .toggle-icon {
  background: #13b1cd;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle:hover .toggle-icon:before, .header .navbar-toggle:hover .toggle-icon:after {
  width: 21px;
  height: 1px;
  background: #13b1cd;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle:hover .toggle-icon.is-clicked {
  background: rgba(81, 87, 105, 0);
}

/* Navbar Logo */
.header .logo {
  width: 150px;
  height: 150px;
  float: left;
  max-height: 95px;
  line-height: 65px;
}

.header .logo-wrap {
  display: inline-block;
  padding: 15px 0;
}

.header .logo-wrap:focus, .header .logo-wrap:hover {
  text-decoration: none;
}

.header .logo-img {
  display: inline-block;
  width: 146px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.header .logo-img-main {
  display: inline-block;
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .logo-img-active {
  display: none;
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* Navbar */
.header .navbar-nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/* Nav */
.header .nav-item {
  position: relative;
  display: block;
}

.header .nav-item:last-child .nav-item-child {
  padding-right: 0;
}

.header .nav-item .nav-item-hover.active:after {
  opacity: 1;
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .nav-item:hover .nav-item-hover:after {
  opacity: 1;
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .nav-item-child {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 600;
	font-family: sans-serif;
  color: #fff;
  text-transform: uppercase;
  line-height: 55px;
  padding: 20px;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .nav-item-child:hover, .header .nav-item-child:focus {
  background: transparent;
}

.header .nav-item-hover {
  position: relative;
}

.header .nav-item-hover:after {
  position: absolute;
  top: 46px;
  left: 7px;
  width: 9px;
  height: 2px;
  background: #13b1cd;
  opacity: 0;
  content: " ";
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* Media Queries below 991px */
@media (max-width: 991px) {
  /* Bootstrap collapse of navigation with a maximum width: 991px
    (Change it to any breakpoint you want to be collapsed) */
  .header {
    background: #fff;
  }
  .header .navbar-toggle {
    display: block;
  }
  .header .navbar-collapse.collapse {
    display: none !important;
  }
  .header .navbar-collapse.collapse.in {
    display: block !important;
  }
  .header .nav-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .header .navbar-nav {
    margin: 0;
    float: none;
  }
  .header .navbar-nav .nav-item {
    float: none;
  }
  /* Menu Container */
  .header .menu-container:before, .header .menu-container:after {
    content: " ";
    display: table;
  }
  .header .menu-container:after {
    clear: both;
  }
  /* Logo */
  .header .logo .logo-img-main {
    display: none;
  }
  .header .logo .logo-img-active {
    display: inline-block;
  }
  /* Navbar Nav */
  .header .nav-item-child {
    color: #515769;
    line-height: 1.4;
    padding: 12px 12px 12px 15px;
  }
  .header .nav-item-hover:after {
    position: absolute;
    top: 25px;
  	left: 2px;
  }
}

/* Media Queries below 767px */
@media (max-width: 767px) {
  /* Menu Container */
  .header .menu-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
    margin-right: 0;
  }
  .header .navbar > .container {
    width: auto;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .header .navbar > .container > .nav-collapse {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

/* Media Queries above 992px */
@media (min-width: 992px) {
  /* Navbar */
  .header .navbar-nav-right {
    float: right;
  }
}

/* Page On Scroll */
@media (min-width: 992px) {
  .page-on-scroll .header .navbar {
    background: #fff;
    border-bottom-color: #f0f0f0;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
  .page-on-scroll .header .logo-img-main {
    display: none;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
  .page-on-scroll .header .logo-img-active {
    display: inline-block;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
  .page-on-scroll .header .nav-item-child {
    color: #515769;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
}

/*------------------------------------------------------------------
  	[Contact]
------------------------------------------------------------------*/
.contact-list > li {
  font-size: 18px;
  color: #727272;
  margin-bottom: 12px;
}

.contact-list .fa , .contact-list .fa-fake {
	width: 20px;
	text-align: center;
}



/*------------------------------------------------------------------
    [Full Screen Carousel]
------------------------------------------------------------------*/
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*------------------------------------------------------------------
    [Carousel]
------------------------------------------------------------------*/

.carousel-home {
  position: relative;
  background-image: url('assets/1920x1080/01-min.jpg');
  /*overflow: hidden;*/
}

.carousel-centered {
  position: absolute;
  top: 48%;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.carousel-title {
  font-size: 66px;
  font-weight: 400;
  color: #fff;
  line-height: 1.3;
  text-transform: uppercase;
  word-break: keep-all;
	letter-spacing: 2px;
}

.carousel-subtitle {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.carousel-btn {
		font-size: 16px;
		font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
		padding-top: 15px;
		padding-bottom: 15px;
}

@media (max-width: 992px) {
  .carousel-title {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .carousel-title {
    font-size: 40px;
  }
	.carousel-btn {
		padding: 10px 25px;
	}
}

/*------------------------------------------------------------------
    [Accordion]
------------------------------------------------------------------*/
.accordion .panel-default {
  border: none;
}

.accordion .panel-heading {
  border-radius: 0;
}

.accordion .panel-default > .panel-heading {
  color: #515769;
  background: #eeeeee;
  border: none;
  padding: 0;
}

.accordion .panel-default > .panel-heading:hover {
  color: #ffffff !important;
  background: #13b1cd;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}


.accordion .panel-title {
  font-size: 22px;
  padding: 30px 50px;
  position: relative;
}

.accordion .panel-title span {
  position: absolute;
  top: 38px;
  right: 60px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.accordion .panel-group .panel + .panel {
  border-radius: 0;
  margin-top: 10px;
}

.accordion .panel-default > .panel-heading + .panel-collapse > .panel-body {
  font-size: 16px;
  border-top: none;
  padding: 0 50px 20px 50px;
  margin-top: -1px;
}

.accordion [aria-expanded="true"]{
  color: #515769;
  background: #eeeeee;
}

.accordion [aria-expanded="true"] span{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.accordion .panel-body {
  line-height: 1.8;
}

.accordion .panel-body h5 {
  font-size: 18px;
  margin-bottom: 5px;
}

.accordion .panel-body p {
  margin-top: 20px;
}

/*------------------------------------------------------------------
  	[Text Colors]
------------------------------------------------------------------*/
.color-base {
  color: #13b1cd !important;
}

.color-white {
  color: #fff !important;
}

.color-heading {
  color: #515769 !important;
}

.color-subtitle {
  color: #a6a7aa !important;
}

.color-link {
  color: #727272 !important;
}

.color-link-hover {
  color: #999caa !important;
}

.color-sky-light {
  color: #f4f4f4 !important;
}

/*------------------------------------------------------------------
  	[Background Colors]
------------------------------------------------------------------*/
.bg-color-base {
  background: #13b1cd !important;
}

.bg-color-white {
  background: #fff !important;
}

.bg-color-heading {
  background: #515769 !important;
}

.bg-color-subtitle {
  background: #a6a7aa !important;
}

.bg-color-link {
  background: #727272 !important;
}

.bg-color-link-hover {
  background: #999caa !important;
}

.bg-color-sky-light {
  background: #fafafa !important;
}

/*------------------------------------------------------------------
    [Row]
------------------------------------------------------------------*/
.row-space-1 {
  margin-right: -1px;
  margin-left: -1px;
}

.row-space-1 > [class*="col-"] {
  padding-left: 1px;
  padding-right: 1px;
}

/*------------------------------------------------------------------
  	[Content]
------------------------------------------------------------------*/
.content-top {
  margin-top: -97px;
}

.content {
	margin-top: 97px;
  min-height: calc(100vh - 255px);
}

.content-xs {
  padding-top: 30px;
  padding-bottom: 30px;
}

.content-xxs {
  padding-top: 25px;
  padding-bottom: 25px;
}

.content-sm {
  padding-top: 60px;
  padding-bottom: 60px;
}

.content-md {
  padding-top: 80px;
  padding-bottom: 80px;
}

.content-lg {
  padding-top: 110px;
  padding-bottom: 130px;
}

@media( max-width: 768px ) {
	.content-lg {
	padding-top: 60px;
	padding-bottom: 60px;
	}
}

/*------------------------------------------------------------------
    [Full Width]
------------------------------------------------------------------*/
.full-width {
  width: 100%;
  height: auto;
}

/*--------------------------------------------------
    [Font Weight]
----------------------------------------------------*/
.fweight-300 {
  font-weight: 300 !important;
}

.fweight-400 {
  font-weight: 400 !important;
}

.fweight-500 {
  font-weight: 500 !important;
}

.fweight-600 {
  font-weight: 600 !important;
}

.fweight-700 {
  font-weight: 700 !important;
}

/*------------------------------------------------------------------
    [Left margin]
------------------------------------------------------------------*/
.margin-l-0 {
  margin-left: 0 !important;
}

.margin-l-5 {
  margin-left: 5px !important;
}

.margin-l-10 {
  margin-left: 10px !important;
}

.margin-l-20 {
  margin-left: 20px !important;
}

.margin-l-40 {
    margin-left: 40px !important;
}
/*------------------------------------------------------------------
    [Right margin]
------------------------------------------------------------------*/
.margin-r-0 {
  margin-right: 0 !important;
}

.margin-r-5 {
  margin-right: 5px !important;
}

.margin-r-10 {
  margin-right: 10px !important;
}

.margin-r-20 {
  margin-right: 20px !important;
}

/*------------------------------------------------------------------
    [Top margin]
------------------------------------------------------------------*/
.margin-t-0 {
  margin-top: 0 !important;
}

.margin-t-5 {
  margin-top: 5px !important;
}

.margin-t-10 {
  margin-top: 10px !important;
}

.margin-t-20 {
  margin-top: 20px !important;
}

.margin-t-30 {
  margin-top: 30px !important;
}

.margin-t-40 {
  margin-top: 40px !important;
}

.margin-t-50 {
  margin-top: 50px !important;
}

.margin-t-60 {
  margin-top: 60px !important;
}

@media (max-width: 992px) {
  .md-margin-t-0 {
    margin-top: 0 !important;
  }
  .md-margin-t-5 {
    margin-top: 5px !important;
  }
  .md-margin-t-10 {
    margin-top: 10px !important;
  }
  .md-margin-t-20 {
    margin-top: 20px !important;
  }
  .md-margin-t-30 {
    margin-top: 30px !important;
  }
  .md-margin-t-40 {
    margin-top: 40px !important;
  }
  .md-margin-t-50 {
    margin-top: 50px !important;
  }
  .md-margin-t-60 {
    margin-top: 60px !important;
  }
}

@media (max-width: 768px) {
  .sm-margin-t-0 {
    margin-top: 0 !important;
  }
  .sm-margin-t-5 {
    margin-top: 5px !important;
  }
  .sm-margin-t-10 {
    margin-top: 10px !important;
  }
  .sm-margin-t-20 {
    margin-top: 20px !important;
  }
  .sm-margin-t-30 {
    margin-top: 30px !important;
  }
  .sm-margin-t-40 {
    margin-top: 40px !important;
  }
  .sm-margin-t-50 {
    margin-top: 50px !important;
  }
  .sm-margin-t-60 {
    margin-top: 60px !important;
  }
}

@media (max-width: 480px) {
  .xs-margin-t-0 {
    margin-top: 0 !important;
  }
  .xs-margin-t-5 {
    margin-top: 5px !important;
  }
  .xs-margin-t-10 {
    margin-top: 10px !important;
  }
  .xs-margin-t-20 {
    margin-top: 20px !important;
  }
  .xs-margin-t-30 {
    margin-top: 30px !important;
  }
  .xs-margin-t-40 {
    margin-top: 40px !important;
  }
  .xs-margin-t-50 {
    margin-top: 50px !important;
  }
  .xs-margin-t-60 {
    margin-top: 60px !important;
  }
}

/*------------------------------------------------------------------
    [Bottom margin]
------------------------------------------------------------------*/
.margin-b-0 {
  margin-bottom: 0 !important;
}

.margin-b-2 {
  margin-bottom: 2px !important;
}

.margin-b-5 {
  margin-bottom: 5px !important;
}

.margin-b-10 {
  margin-bottom: 10px !important;
}

.margin-b-20 {
  margin-bottom: 20px !important;
}

.margin-b-30 {
  margin-bottom: 30px !important;
}

.margin-b-40 {
  margin-bottom: 40px !important;
}

.margin-b-50 {
  margin-bottom: 50px !important;
}

.margin-b-60 {
  margin-bottom: 60px !important;
}

.margin-b-70 {
  margin-bottom: 70px !important;
}

.margin-b-80 {
  margin-bottom: 80px !important;
}

.margin-b-90 {
  margin-bottom: 90px !important;
}

.margin-b-100 {
  margin-bottom: 100px !important;
}

/*------------------------------------------------------------------
    [Top margin below 992px]
------------------------------------------------------------------*/
@media (max-width: 992px) {
  .md-margin-b-0 {
    margin-bottom: 0 !important;
  }
  .md-margin-b-2 {
    margin-bottom: 2px !important;
  }
  .md-margin-b-5 {
    margin-bottom: 5px !important;
  }
  .md-margin-b-10 {
    margin-bottom: 10px !important;
  }
  .md-margin-b-20 {
    margin-bottom: 20px !important;
  }
  .md-margin-b-30 {
    margin-bottom: 30px !important;
  }
  .md-margin-b-40 {
    margin-bottom: 40px !important;
  }
  .md-margin-b-50 {
    margin-bottom: 50px !important;
  }
  .md-margin-b-60 {
    margin-bottom: 60px !important;
  }
  .md-margin-b-70 {
    margin-bottom: 70px !important;
  }
  .md-margin-b-80 {
    margin-bottom: 80px !important;
  }
  .md-margin-b-90 {
    margin-bottom: 90px !important;
  }
  .md-margin-b-100 {
    margin-bottom: 100px !important;
  }
}

/*------------------------------------------------------------------
    [Top margin below 768px]
------------------------------------------------------------------*/
@media (max-width: 768px) {
  .sm-margin-b-0 {
    margin-bottom: 0 !important;
  }
  .sm-margin-b-2 {
    margin-bottom: 2px !important;
  }
  .sm-margin-b-5 {
    margin-bottom: 5px !important;
  }
  .sm-margin-b-10 {
    margin-bottom: 10px !important;
  }
  .sm-margin-b-20 {
    margin-bottom: 20px !important;
  }
  .sm-margin-b-30 {
    margin-bottom: 30px !important;
  }
  .sm-margin-b-40 {
    margin-bottom: 40px !important;
  }
  .sm-margin-b-50 {
    margin-bottom: 50px !important;
  }
  .sm-margin-b-60 {
    margin-bottom: 60px !important;
  }
  .sm-margin-b-70 {
    margin-bottom: 70px !important;
  }
  .sm-margin-b-80 {
    margin-bottom: 80px !important;
  }
  .sm-margin-b-90 {
    margin-bottom: 90px !important;
  }
  .sm-margin-b-100 {
    margin-bottom: 100px !important;
  }
}

/*------------------------------------------------------------------
    [Top margin below 480px]
------------------------------------------------------------------*/
@media (max-width: 480px) {
  .xs-margin-b-0 {
    margin-bottom: 0 !important;
  }
  .xs-margin-b-2 {
    margin-bottom: 2px !important;
  }
  .xs-margin-b-5 {
    margin-bottom: 5px !important;
  }
  .xs-margin-b-10 {
    margin-bottom: 10px !important;
  }
  .xs-margin-b-20 {
    margin-bottom: 20px !important;
  }
  .xs-margin-b-30 {
    margin-bottom: 30px !important;
  }
  .xs-margin-b-40 {
    margin-bottom: 40px !important;
  }
  .xs-margin-b-50 {
    margin-bottom: 50px !important;
  }
  .xs-margin-b-60 {
    margin-bottom: 60px !important;
  }
  .xs-margin-b-70 {
    margin-bottom: 70px !important;
  }
  .xs-margin-b-80 {
    margin-bottom: 80px !important;
  }
  .xs-margin-b-90 {
    margin-bottom: 90px !important;
  }
  .xs-margin-b-100 {
    margin-bottom: 100px !important;
  }
}

/*--------------------------------------------------
    [Height]
----------------------------------------------------*/
.height-100 {
  height: 100px !important;
}

.height-200 {
  height: 200px !important;
}

.height-300 {
  height: 300px !important;
}


/*--------------------------------------------------
    [Intro]
----------------------------------------------------*/

.intro-item {
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}

.intro-item img {
    width: 80%;
    height: auto;
    margin: auto auto;
		max-width: 360px;

}

.intro-item img:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
		-webkit-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
} 

.intro-title {
    text-align: center;
}

.intro-title > p {
    color: #13b1cd;
    font-weight: 700;
    letter-spacing: 1px;
}

@media(max-width: 992px) {
  .intro-item {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media( max-width: 768px ) {
  .intro-item {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
  }

	.intro-item h2 {
		font-size: 24px;
	}

  .intro-title h1 {
    font-size: 28px;
		line-height: 1.2;
  }
}

.showcase-title {
    text-align: center;
}

.showcase-title > p {
    color: #13b1cd;
    font-weight: 400;
    letter-spacing: 1px;
		font-size: 18px;
    word-break: keep-all;
}
.showcase-item {
    position: relative;
    cursor: pointer;
}

.showcase-item img {
    display: block;
}

.play-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.play-wrapper .test {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 80px;
    color: white;
    transform: translate(-50%, -50%);
}

.showcase-item:hover .play-wrapper {
    opacity: 0.4;
    background-color: black;
    z-index: 999;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.solution-title {
  word-break: keep-all;
}

.solution-content {
  margin-bottom: 60px;
}

.solution-image {
  margin-bottom: 60px;
}

.solution-image img {
  max-height: 340px;
}

.solution-content p {
	font-size: 20px;
	line-height: 1.8;
}



.platform-carousel img {
    width: 100%;
}

.thumbs a {
    opacity: 0.6;
}

.thumbs a:hover {
    opacity: 1.0;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* ---------------------------------------
    [Main product page style]
    -------------------------------------*/

/*.product-title {
    min-height: 76px;
}
*/
.product-title h1 { 
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-title h1.affix {
    width: 100%;
		padding-right: 30px;
    background-color: white;
    /*top: 97px;*/
    /*transition-duration: 300ms;*/
/*
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
*/
    z-index: 2;
}

.product-intro p {
    font-size: 18px;
    line-height: 1.5;
    color: #727272;
}

.product-intro button {
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
}

.plain-content a.button {
		margin-bottom: 20px;
		color: #fff;
}

.plain-content a.button:hover {
	color: #fff;
}

.product-nav .nav-wrapper {
/*    padding-bottom: 10px;*/
    width: 847.5px;
    z-index: 999;
}

.product-nav .nav-wrapper .nav {
    background-color: #fff;
}

.product-nav .nav-wrapper .shadow {
    height: 15px;
    width: 100%;
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

.product-nav a {
    color: #13b1cd;
}

.product-nav .nav-tabs > li a {
    padding-left: 20px;
    padding-right: 0px;
}

.product-nav .nav-tabs > li.active a {
    font-weight: 700;
}

.product-nav .nav-wrapper.affix {
    transition-duration: 300ms;
}

.table-striped > tbody > tr:nth-child(odd) > td {
    background-color: #f3f4f5;
}

.table-hover > tbody > tr:hover > td {
    background-color: #13b1cd;
    color: #ffffff;
}

.table-techspecs > tbody > tr > td:nth-child(odd){
		padding-left: 40px;
		width: 40%;
}

.table {
    font-size: 18px;
    color: #727272;
}

.explore-item img {
	width: 50%;
  max-width: 250px;
	display: inline-block;
}

agm-map {
	height: 300px;
}

#map-cn {
  height: 300px;
}
/*------------------------------------------------------------------
  	[plain-content]
------------------------------------------------------------------*/
.plain-content p {
    font-size: 18px;
    font-weight: 400;
		color: #727272;
}

.plain-content h1 {
	/*margin-top: 35px;*/
}

.plain-content a {
    color: #13b1cd;
}

.plain-content a:hover, .plain-content a:active {
  outline: 0;
  color: #999caa;
  text-decoration: none;
}


.plain-content .well {
	font-size: 16px;
	color: #515769;
}

.plain-content .well em {
	font-size: 16px;
	color: #515769;
}

.plain-content em {
	font-size: 18px;
}

.plain-content .figure {
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	text-align: center;
}

.plain-content .figure img {
	max-width: 100%;
	display: inline;
	height: auto;
}

.plain-content .figure-sm {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
}

.plain-content .caption {
	text-align: center;
	font-style: italic;
	color: #515769;
	font-size: 18px;
	margin-top: 5px;
}

a.plain {
  font-size: 18px;
    font-weight: 400;
    color: #727272;
}
/*.plain-content span {*/
	/*font-size: 18px;*/
	/*font-weight: 400;*/
	/*color: #727272;*/
/*}*/


/*------------------------------------------------------------------
  	[publications]
------------------------------------------------------------------*/
.paper, .paper span{
	font-size: 18px;
	font-weight: 400;
	color: #727272;
}

.paper a {
	font-size: 18px;
}

.paper .paper-abbr {
	font-weight: 600;
	color: #515769;
}

.paper .paper-booktitle {
	font-style: italic;
}


#sponsor-list img {
	opacity: 0.5;
}

#sponsor-list img:hover {
	opacity: 1.0;
	transition: 0.7s;
}

/* Github wiki style */
.plain-content .pl-c {
  color: #6a737d;
}

.plain-content .pl-c1,
.plain-content .pl-s .pl-v {
  color: #005cc5;
}

.plain-content .pl-e,
.plain-content .pl-en {
  color: #6f42c1;
}

.plain-content .pl-smi,
.plain-content .pl-s .pl-s1 {
  color: #24292e;
}

.plain-content .pl-ent {
  color: #22863a;
}

.plain-content .pl-k {
  color: #d73a49;
}

.plain-content .pl-s,
.plain-content .pl-pds,
.plain-content .pl-s .pl-pse .pl-s1,
.plain-content .pl-sr,
.plain-content .pl-sr .pl-cce,
.plain-content .pl-sr .pl-sre,
.plain-content .pl-sr .pl-sra {
  color: #032f62;
}

.plain-content .pl-v,
.plain-content .pl-smw {
  color: #e36209;
}

.plain-content .pl-bu {
  color: #b31d28;
}

.plain-content .pl-ii {
  color: #fafbfc;
  background-color: #b31d28;
}

.plain-content .pl-c2 {
  color: #fafbfc;
  background-color: #d73a49;
}

.plain-content .pl-c2::before {
  content: "^M";
}

.plain-content .pl-sr .pl-cce {
  font-weight: bold;
  color: #22863a;
}

.plain-content .pl-ml {
  color: #735c0f;
}

.plain-content .pl-mh,
.plain-content .pl-mh .pl-en,
.plain-content .pl-ms {
  font-weight: bold;
  color: #005cc5;
}

.plain-content .pl-mi {
  font-style: italic;
  color: #24292e;
}

.plain-content .pl-mb {
  font-weight: bold;
  color: #24292e;
}

.plain-content .pl-md {
  color: #b31d28;
  background-color: #ffeef0;
}

.plain-content .pl-mi1 {
  color: #22863a;
  background-color: #f0fff4;
}

.plain-content .pl-mc {
  color: #e36209;
  background-color: #ffebda;
}

.plain-content .pl-mi2 {
  color: #f6f8fa;
  background-color: #005cc5;
}

.plain-content .pl-mdr {
  font-weight: bold;
  color: #6f42c1;
}

.plain-content .pl-ba {
  color: #586069;
}

.plain-content .pl-sg {
  color: #959da5;
}

.plain-content .pl-corl {
  text-decoration: underline;
  color: #032f62;
}

.plain-content .md-table {
	width: 100%;
	overflow: auto;
	margin-bottom: 16px;
}

.plain-content .md-table th {
	font-weight: 600;
}

.plain-content .md-table th,
.plain-content .md-table td {
	padding: 6px 13px;
	border: 1px solid #dfe2e5;
}

.plain-content .md-table tr {
	background-color: #fff;
	border-top: 1px solid #c6cbd1;
}

.plain-content .md-table tr:nth-child(2n) {
	background-color: #f6f8fa;
}


.mat-dialog-container {
	padding: 0 0 !important;
  margin: auto auto !important;
  position: relatve !important;
}

#buy-now {
	padding: 25px 25px;
}

#preloader {
    opacity: 0;
    -webkit-transition: opacity .8s ease-in-out;
    transition: opacity .8s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #060d1d;
    z-index: -1;
}

.loader{
    position: absolute;
    width: 42px;
    height: 42px;
    animation: preloader_6 5s infinite linear;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
}
.loader span{
    width:20px;
    height:20px;
    position:absolute;
    background:red;
    display:block;
    animation: preloader_6_span 1s infinite linear;
}
.loader span:nth-child(1){
background:#2ecc71;
 
}
.loader span:nth-child(2){
left:22px;
background:#9b59b6;
    animation-delay: .2s;
 
}
.loader span:nth-child(3){
top:22px;
background:#13b1cd;
    animation-delay: .4s;
}
.loader span:nth-child(4){
top:22px;
left:22px;
background:#f1c40f;
    animation-delay: .6s;
}
@keyframes preloader_6_span {
   0% { transform:scale(1); }
   50% { transform:scale(0.5); }
   100% { transform:scale(1); }
}

nvlabs-app:empty + #preloader {
    opacity: 1;
    z-index: -1;
}
