<div class="content-top">
	<div class="carousel-home full-screen" [style.height.px]="height">
		<!-- <img class="img-responsive" src="./img/1920x1080/02.jpg" alt="Slider Image"> -->
		<div class="container">
				<div class="carousel-centered">
						<div class="margin-b-30">
								<h1 class="carousel-title">打造智慧机器 助力工业升级 <br></h1>
						</div>
						<!-- <a href="https://youtu.be/y45Fa25un4U" target="_blank" class="hidden-xs btn-theme btn-theme-sm btn-white-brd carousel-btn text-uppercase"><i class="fa fa-play" aria-hidden="true"></i> Nonvolatile Processor in 1 minute</a> -->
						<a (click)="openDialog()" class="btn-theme btn-theme-sm btn-white-brd carousel-btn text-uppercase"><i class="fa fa-play" aria-hidden="true"></i>  了解集能芯成</a>
				</div>
		</div>
	</div>
</div>
<!--========== SLIDER ==========-->

<div class="bg-color-sky-light">
	<pi2star-showcase></pi2star-showcase>
</div>
